//- Все примеси в этом файле должны начинаться c имени блока (top-slider)

mixin top-slider(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +top-slider('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' top-slider--' + modsList[i].trim();
      }
    }

  section.swiper.top-slider
    .swiper-pagination.top-slider__pagination
    .swiper-wrapper
      .swiper-slide.top-slider__slide 
        .top-slider__img(style="background-image: url(img/slider1.jpg);")
          .top-slider__inner.container
            .top-slider__body
                h2.top-slider__title Advanced Digital Solutions
                .top-slider__descr
                  p Разработка комплексных программных продуктов на&nbsp;заказ, реализация решений в&nbsp;области цифровизации производства и&nbsp;снижения импортозависимости.
      .swiper-slide.top-slider__slide 
        .top-slider__img(style="background-image: url(img/slider2.jpg);")
          .top-slider__inner.container
            .top-slider__body
                h2.top-slider__title Advanced Digital Solutions
                .top-slider__descr
                  p Разработка комплексных программных продуктов на&nbsp;заказ, реализация решений в&nbsp;области цифровизации производства и&nbsp;снижения импортозависимости.
      .swiper-slide.top-slider__slide 
        .top-slider__img(style="background-image: url(img/slider1.jpg);")
          .top-slider__inner.container
            .top-slider__body
                h2.top-slider__title Advanced Digital Solutions
                .top-slider__descr
                  p Разработка комплексных программных продуктов на&nbsp;заказ, реализация решений в&nbsp;области цифровизации производства и&nbsp;снижения импортозависимости.
    .top-slider__nav.container
      button.top-slider__prev.btn-reset
        svg(width='46' height='39' viewBox='0 0 46 39' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M21.7504 2.70097C22.3363 2.11535 22.3366 1.16561 21.751 0.579654C21.1653 -0.00629759 20.2156 -0.00656617 19.6296 0.579055L21.7504 2.70097ZM3 19.32L1.93964 18.2591L0.87808 19.32L1.93964 20.381L3 19.32ZM19.6296 38.061C20.2156 38.6466 21.1653 38.6463 21.751 38.0604C22.3366 37.4744 22.3363 36.5247 21.7504 35.9391L19.6296 38.061ZM19.6296 0.579055L1.93964 18.2591L4.06036 20.381L21.7504 2.70097L19.6296 0.579055ZM1.93964 20.381L19.6296 38.061L21.7504 35.9391L4.06036 18.2591L1.93964 20.381Z' fill='white')
          path(d='M3.42969 17.82C2.60126 17.82 1.92969 18.4916 1.92969 19.32C1.92969 20.1484 2.60126 20.82 3.42969 20.82V17.82ZM44.0197 20.82C44.8481 20.82 45.5197 20.1484 45.5197 19.32C45.5197 18.4916 44.8481 17.82 44.0197 17.82V20.82ZM3.42969 20.82H44.0197V17.82H3.42969V20.82Z' fill='white')
      button.top-slider__next.btn-reset
        svg(width='46' height='39' viewBox='0 0 46 39' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M24.2496 2.70097C23.6637 2.11535 23.6634 1.16561 24.249 0.579654C24.8347 -0.00629759 25.7844 -0.00656617 26.3704 0.579055L24.2496 2.70097ZM43 19.32L44.0604 18.2591L45.1219 19.32L44.0604 20.381L43 19.32ZM26.3704 38.061C25.7844 38.6466 24.8347 38.6463 24.249 38.0604C23.6634 37.4744 23.6637 36.5247 24.2496 35.9391L26.3704 38.061ZM26.3704 0.579055L44.0604 18.2591L41.9396 20.381L24.2496 2.70097L26.3704 0.579055ZM44.0604 20.381L26.3704 38.061L24.2496 35.9391L41.9396 18.2591L44.0604 20.381Z' fill='white')
          path(d='M42.5703 17.82C43.3987 17.82 44.0703 18.4916 44.0703 19.32C44.0703 20.1484 43.3987 20.82 42.5703 20.82V17.82ZM1.98031 20.82C1.15189 20.82 0.480312 20.1484 0.480312 19.32C0.480312 18.4916 1.15189 17.82 1.98031 17.82V20.82ZM42.5703 20.82H1.98031V17.82H42.5703V20.82Z' fill='white')
    