//- Все примеси в этом файле должны начинаться c имени блока (num-solutions)

mixin num-solutions(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +num-solutions('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' num-solutions--' + modsList[i].trim();
      }
    }

  section.num-solutions.section--angled.mb-section-angled
    .num-solutions__inner.container
      h2.num-solutions__title.h2 Решения
      .num-solutions__grid
        +solutions-grid()
