//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
    +page-header()
      p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods, role='banner')&attributes(attributes)
    .page-header__inner.container
      .page-header__top 
        .page-header__left 
          a.page-header__logo(href="/") 
            img(src='img/logo.svg' alt='Логотип' width="320" height="50")
        .page-header__menu.menu 
          .menu__burger 
            .menu__icon
              span 
            .menu__text Меню
          nav.menu__body 
            .menu__top 
              .menu__top-left 
                .menu__text Меню
              .menu__top-middle 
                a(href="javascript:void(0)").page-header__lang-btn ENG
              .menu__top-close
                button.menu__mob-close 
                  svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                    rect(x='0.454102' y='17.4246' width='24' height='3' rx='1.5' transform='rotate(-45 0.454102 17.4246)' fill='black')
                    rect(width='24' height='3' rx='1.5' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 19.5459 17.4246)' fill='black')
            ul.menu__list 
              li.menu__item.has-child
                a(href="javascript:void(0)").menu__link.h4 Кто мы
                ul.menu__sublist 
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Новости и публикации
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Корпоративная ответственность
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Проекты
              li.menu__item.has-child
                a(href="javascript:void(0)").menu__link.h4 Решения
                ul.menu__sublist 
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Энергоучёт и энергоэффективность
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Сбор данных по потреблению энергоресурсов
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Коммерческий учёт
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Диспетчеризация и технический учёт
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Управление жизненным циклом средств измерения и приборов учёта
              li.menu__item.has-child             
                a(href="javascript:void(0)").menu__link.h4 Отрасли
                ul.menu__sublist 
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Цифровизация производства
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Нефть и газ
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Энергетика
                  li.menu__subitem 
                    a(href="javascript:void(0)").menu__sublink.h5 Промышленное производство
                li.menu__item
                  a(href="javascript:void(0)").menu__link.h4 Контакты
        .page-header__right 
          .page-header__connect 
            a(href="tel:+7(495)2802595").page-header__phone +7 (495) 280-25-95
            a(href="javascript:void(0)").page-header__connect-btn.btn Обратный звонок
          .page-header__magnify
            button.page-header__search.search-btn.btn-reset 
              svg.page-header__search-btn(width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M9.11 17.22C13.589 17.22 17.22 13.589 17.22 9.11C17.22 4.63097 13.589 1 9.11 1C4.63097 1 1 4.63097 1 9.11C1 13.589 4.63097 17.22 9.11 17.22Z' stroke='#00E68A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' fill='none')
                path(d='M15.52 14.28L21.6 20.36' stroke='#00E68A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' fill='none')
            .search-block 
              .search-block__inner.container
                .search-block__content
                  label.search-block__label Введите запрос
                  input.search-block__input(type="search" name="" placeholder="Поиск по сайту")
                  svg.search-block__btn(width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M8.6777 14.405C12.3794 14.405 15.3802 11.4042 15.3802 7.70248C15.3802 4.0008 12.3794 1 8.6777 1C4.97602 1 1.97522 4.0008 1.97522 7.70248C1.97522 11.4042 4.97602 14.405 8.6777 14.405Z' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' fill='none')
                    path(d='M13.9754 11.9753L19.0002 17.0001' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
          .page-header__lang 
            a(href="javascript:void(0)").page-header__lang-btn ENG