// В этом файле должны быть стили для БЭМ-блока hyperlink, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hyperlink {

  $block-name: &; // #{$block-name}__element

  display: flex;
  align-items: flex-end;

  &__link {
    text-decoration: none;
    color: $color-accent;
    display: flex;
    align-items: flex-end;
    transition: color $transition-time;

    &:hover{
      color: $light-blue;
    }
    &:active{
      color: #03ACE4;
    }
  }

  &__svg {
    padding-left: 8px;
  }

  &__size{
    padding-left: 30px;
    color: #93969E;
  }
}