//- Все примеси в этом файле должны начинаться c имени блока (task)

mixin task(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +task('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' task--' + modsList[i].trim();
      }
    }

  .task(class=allMods)&attributes(attributes)
    .task__inner.container
      h2.task__title.h2-inner Решаемые задачи
      ul.task__list
        li.task__item
          p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
        li.task__item
          p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
        li.task__item
          p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
        li.task__item
          p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных;
        li.task__item
          p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
        li.task__item
          p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
        li.task__item
          p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
        li.task__item
          p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных.
