extends ../pug/layout.pug

block meta
  title Error 404
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')



block content
  +inner-wrapper()
    +inner-wrapper-top(style="background-image: url(img/bgrd_error.jpg);")
      +breadcrumbs()
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('404')
      +main-title('404')
  section.error.plain-content
    .error__inner.container 
      .error__wrapper 
        .error__title
          img(src="img/404.png", alt="404")
        .error__descr 
          span.error__error.h3 Ошибка!
          p.error__text.text К сожалению, запрашиваемая Вами страница не найдена...
          a.error__btn.btn(href="javascript:void(0)") на главную
//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
