extends ../pug/layout.pug

block meta
  title Кто мы
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')



block content
  +inner-wrapper()
    +inner-wrapper-top(style="background-image: url(img/bgrd_about.jpg);")
      +breadcrumbs()
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Кто мы')
      +main-title('Кто мы')
        +main-descr('На основе современных технологий мы осуществляем цифровизацию энергетической и нефтегазовой отраслей, которая помогает нашим Заказчикам преодолевать препятствия для достижения амбициозных целей в условиях изменяющегося рынка.') 
  section.about.solutions.decor
    .solutions__inner.container
      .solutions__content
        .solutions__top 
          .solutions__top-descr 
            p.solutions__top-text.text Команда профессионалов высокой квалификации проводит обследование, консалтинг, выбор оптимальных параметров проектного решения, реализацию, внедрение, сопровождение и&nbsp;поддержку.
            p.solutions__top-text.text Мы&nbsp;предлагаем набор планов и&nbsp;возможностей, инноваций и&nbsp;связанных с&nbsp;ними технологических решений, которые помогают компаниям и&nbsp;промышленным предприятиям перейти на&nbsp;новые уровни автоматизации и&nbsp;цифровизации.
            p.solutions__top-text.text Компания объединяет специалистов в&nbsp;области&nbsp;ИТ и&nbsp;современных цифровых технологий, специалистов из&nbsp;энергетики и&nbsp;нефтегазовой отрасли, а&nbsp;сотрудничество с&nbsp;научными организациями и&nbsp;проведение совместных научно-исследовательских и&nbsp;проектно-конструкторских работ позволяет создавать уникальные инновационные решения для Вашего бизнеса. 
            p.solutions__top-text.text Мы&nbsp;стремимся изменить мир с&nbsp;помощью передовых технологий, высокого качества нашей работы, заинтересованности наших сотрудников и&nbsp;развития нашей корпоративной культуры.
            p.solutions__top-text.text Наши преимущества: честность, креативность, мобильность, надежность.
        .about__solutions-block
          h2.solutions__title.h2-inner Решения
          ul.solutions-grid
            li.solutions-grid__item.about__solutions-grid__item
              a(href="javascript:void(0);").solutions-grid__body 
                h3.solutions-grid__subtitle.h5 Мониторинг технологических процессов и производств
            li.solutions-grid__item.about__solutions-grid__item
              a(href="javascript:void(0);").solutions-grid__body 
                h3.solutions-grid__subtitle.h5 Энергоучёт и энергоэффективность
            li.solutions-grid__item.about__solutions-grid__item
              a(href="javascript:void(0);").solutions-grid__body 
                h3.solutions-grid__subtitle.h5 Промышленная безопасность персонала
            li.solutions-grid__item.about__solutions-grid__item
              a(href="javascript:void(0);").solutions-grid__body 
                h3.solutions-grid__subtitle.h5 Планирование и оптимизация производственных процессов
            li.solutions-grid__item.about__solutions-grid__item
              a(href="javascript:void(0);").solutions-grid__body 
                h3.solutions-grid__subtitle.h5 Аналитика и визуализация, моделирование и прогнозирование, управление данными
            li.solutions-grid__item.about__solutions-grid__item
              a(href="javascript:void(0);").solutions-grid__body 
                h3.solutions-grid__subtitle.h5 Поддержка процессов эксплуатации и ремонтов оборудования
            li.solutions-grid__item.about__solutions-grid__item
              a(href="javascript:void(0);").solutions-grid__body 
                h3.solutions-grid__subtitle.h5 Цифровой персонал / Цифровое рабочее место
            li.solutions-grid__item.about__solutions-grid__item
              a(href="javascript:void(0);").solutions-grid__body 
                h3.solutions-grid__subtitle.h5 Цифровое зрение: ИИ, Большие данные, Глубокое обучение

  section.apply.about__apply
    .apply__inner.container
      h2.task__title.h2-inner Отрасли
      ul.apply__list
        li.apply__item
          .apply__body 
            .apply__icon 
              svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0_263_7463)')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M27.2123 0.0775398C15.9908 1.24022 6.46526 9.08612 3.19829 19.8573C2.40432 22.4751 1.9449 25.88 2.02334 28.5654L2.06438 29.9732L1.33935 29.9729C0.736046 29.9727 0.562638 30.0243 0.307155 30.2798L0 30.5868V33.4758V36.3648L0.307155 36.6719C0.60968 36.9745 0.646464 36.979 2.79455 36.979H4.97503L5.49863 38.5063C5.78665 39.3462 6.33002 40.6508 6.70611 41.4051L7.38986 42.7768L5.82193 44.3615C4.95952 45.2331 4.25388 46.0427 4.25388 46.1606C4.25388 46.2785 4.33432 46.527 4.43266 46.7129C4.531 46.8987 6.57386 49.0072 8.97217 51.3984C13.0053 55.4195 13.3652 55.7461 13.7622 55.7461C14.1469 55.7461 14.3406 55.5909 15.6346 54.2446C16.4286 53.4188 17.1402 52.7431 17.2162 52.7433C17.2921 52.7433 17.9959 53.0467 18.7801 53.4174C19.5643 53.788 20.8394 54.3004 21.6134 54.5562L23.021 55.021V57.2033C23.021 59.3537 23.0255 59.3903 23.3281 59.6928L23.6352 60H30.0274H36.4196L36.7266 59.6928C37.0292 59.3903 37.0337 59.3539 37.0337 57.201V55.016L38.0659 54.6785C39.2772 54.2825 41.346 53.4057 42.2039 52.9248L42.8076 52.5865L44.4042 54.1663C45.2824 55.0352 46.0974 55.7461 46.2154 55.7461C46.3332 55.7461 46.5817 55.6657 46.7676 55.5673C46.9534 55.469 49.0618 53.4261 51.4531 51.0278C55.4869 46.982 55.8008 46.6358 55.8008 46.2347C55.8008 45.8459 55.6492 45.6562 54.2995 44.3558C53.4737 43.5602 52.7981 42.85 52.7981 42.7774C52.7981 42.705 53.1014 42.0041 53.4721 41.2199C53.8427 40.4357 54.3551 39.1608 54.6109 38.3866L55.0757 36.979H57.258C59.4084 36.979 59.445 36.9745 59.7476 36.6719L60.0547 36.3648V33.4758V30.5868L59.7476 30.2798C59.4923 30.0244 59.3183 29.9726 58.7154 29.9725L57.9903 29.9723L57.9781 27.5641C57.9555 23.1507 57.1088 19.5977 55.1081 15.522C51.1336 7.42548 43.2388 1.64197 34.2789 0.263209C32.6964 0.0197373 28.767 -0.0834819 27.2123 0.0775398ZM32.5477 2.07974C37.5816 2.59521 42.4855 4.59065 46.3111 7.68034C52.4862 12.6675 56.0511 20.1637 56.0511 28.1615C56.0511 28.94 56.0169 29.6659 55.9751 29.7747C55.9072 29.9518 55.2 29.9727 49.2759 29.9727H42.6525L42.3643 30.2608C42.1537 30.4715 42.0522 30.7606 41.9871 31.3365C41.6602 34.2259 39.9061 37.3574 37.5779 39.2079C36.3407 40.1912 34.4266 41.1458 32.9675 41.5072C31.3461 41.9088 28.6574 41.9088 27.1497 41.5072C23.6186 40.5665 20.6736 38.1191 19.1781 34.8822C18.7243 33.9001 18.1415 31.8296 18.1415 31.1995C18.1415 30.7845 17.9462 30.359 17.652 30.133C17.5017 30.0177 15.8338 29.9797 10.8045 29.9767C4.8593 29.973 4.14753 29.9518 4.07959 29.7747C4.0378 29.6659 4.00365 28.94 4.00365 28.1615C4.00365 20.2382 7.50834 12.7846 13.5585 7.84086C18.8433 3.52255 25.8569 1.39474 32.5477 2.07974ZM28.9774 4.12573C27.9243 4.51771 27.0246 5.80889 27.0246 6.92816C27.0246 7.96498 27.7968 9.22525 28.6482 9.57782L29.0292 9.73571L28.9965 14.8735L28.9639 20.0114L28.1506 20.1628C27.2857 20.324 25.7716 20.8551 25.3043 21.1611L25.0228 21.3455V17.9522V14.5589L24.6653 14.2251C24.4688 14.0414 23.7664 13.4699 23.1045 12.9549L21.9012 12.0188L21.9775 11.3643C22.0956 10.3528 21.837 9.63187 21.0886 8.88669C19.8176 7.62104 18.2143 7.62104 16.9487 8.88669C15.6829 10.1525 15.6829 11.7582 16.9487 13.024C17.8774 13.9527 19.0201 14.207 20.0865 13.7226L20.5929 13.4926L21.8007 14.4448L23.0086 15.3969L23.0147 19.1014L23.021 22.8059L22.5378 23.3552C22.0023 23.9641 21.0701 25.3614 20.9526 25.7313C20.881 25.9569 20.714 25.9686 17.664 25.9627L14.4507 25.9566L13.4985 24.7488L12.5464 23.5409L12.7764 23.0346C13.2608 21.9681 13.0065 20.8254 12.0778 19.8967C10.812 18.6309 9.20626 18.6309 7.94048 19.8967C6.67483 21.1624 6.67483 22.7656 7.94048 24.0366C8.68616 24.7855 9.40682 25.0439 10.4181 24.9251L11.0726 24.8481L12.1986 26.274C12.8179 27.0584 13.454 27.761 13.612 27.8355C13.7946 27.9214 15.0552 27.9708 17.0669 27.9708H20.2343L20.1123 28.6277C19.9599 29.4482 20.0678 31.4379 20.3141 32.3517C21.0135 34.9456 22.4453 36.9506 24.6054 38.3607C26.309 39.4728 27.8481 39.9137 30.0274 39.9137C32.2066 39.9137 33.7457 39.4728 35.4493 38.3607C37.6094 36.9506 39.0412 34.9456 39.7406 32.3517C39.9869 31.4379 40.0948 29.4482 39.9424 28.6277L39.8204 27.9708H43.1312H46.4421L46.7756 27.6136C46.9592 27.4172 47.5287 26.7143 48.0411 26.0517L48.973 24.8471L49.632 24.9246C50.6483 25.0439 51.3673 24.7868 52.1142 24.0366C53.3799 22.7656 53.3799 21.1624 52.1142 19.8967C50.8484 18.6309 49.2427 18.6309 47.977 19.8967C47.0482 20.8254 46.7939 21.9681 47.2783 23.0346L47.5083 23.5409L46.5562 24.7488L45.604 25.9566L42.4136 25.9599L39.2232 25.9632L38.7234 25.0747C38.4484 24.586 37.9558 23.8802 37.6287 23.5064L37.0337 22.8266L37.04 19.1118L37.0461 15.3969L38.254 14.4448L39.4618 13.4926L39.9682 13.7226C41.0346 14.207 42.1773 13.9527 43.106 13.024C43.9902 12.1398 44.2345 11.2046 43.888 10.0315C43.6849 9.34423 42.6485 8.30779 41.9612 8.10473C40.7889 7.75841 39.8541 8.00238 38.9661 8.88669C38.2172 9.63237 37.9588 10.353 38.0777 11.3643L38.1546 12.0188L36.7287 13.1448C35.9444 13.7641 35.2417 14.4002 35.1673 14.5582C35.0811 14.7414 35.0319 16.0248 35.0319 18.0956V21.3455L34.7504 21.1611C34.2831 20.8551 32.769 20.324 31.9041 20.1628L31.0908 20.0114L31.0582 14.8735L31.0255 9.73571L31.4065 9.57782C32.2579 9.22525 33.0301 7.96498 33.0301 6.92816C33.0301 5.90235 32.2965 4.72352 31.3556 4.23695C30.8241 3.96208 29.5743 3.90365 28.9774 4.12573ZM30.7211 6.25792C31.3418 6.87849 30.902 7.95259 30.0274 7.95259C29.7836 7.95259 29.5271 7.83911 29.3336 7.64543C29.1399 7.45188 29.0264 7.1954 29.0264 6.95168C29.0264 6.07701 30.1005 5.63723 30.7211 6.25792ZM19.7111 10.2616C20.3318 10.8821 19.892 11.9562 19.0173 11.9562C18.7736 11.9562 18.5171 11.8428 18.3236 11.6491C18.1299 11.4555 18.0164 11.199 18.0164 10.9553C18.0164 10.7116 18.1299 10.4551 18.3236 10.2616C18.5171 10.0679 18.7736 9.95441 19.0173 9.95441C19.261 9.95441 19.5175 10.0679 19.7111 10.2616ZM41.7311 10.2616C42.3518 10.8821 41.9121 11.9562 41.0374 11.9562C40.523 11.9562 40.0365 11.4697 40.0365 10.9553C40.0365 10.441 40.523 9.95441 41.0374 9.95441C41.2811 9.95441 41.5376 10.0679 41.7311 10.2616ZM10.7029 21.2716C10.8966 21.4651 11.01 21.7216 11.01 21.9654C11.01 22.2091 10.8966 22.4656 10.7029 22.6591C10.5093 22.8528 10.2528 22.9663 10.0091 22.9663C9.7654 22.9663 9.50891 22.8528 9.31536 22.6591C9.12169 22.4656 9.00821 22.2091 9.00821 21.9654C9.00821 21.7216 9.12169 21.4651 9.31536 21.2716C9.50891 21.0779 9.7654 20.9644 10.0091 20.9644C10.2528 20.9644 10.5093 21.0779 10.7029 21.2716ZM50.7394 21.2716C51.36 21.8922 50.9203 22.9663 50.0456 22.9663C49.5312 22.9663 49.0447 22.4797 49.0447 21.9654C49.0447 21.451 49.5312 20.9644 50.0456 20.9644C50.2893 20.9644 50.5458 21.0779 50.7394 21.2716ZM31.7164 22.1519C33.1286 22.4458 34.5602 23.2406 35.6747 24.3494C38.8165 27.4752 38.8089 32.4514 35.6575 35.6028C32.5061 38.7541 27.53 38.7618 24.4041 35.62C21.2367 32.4364 21.2303 27.4943 24.3896 24.3349C26.3394 22.3852 29.0116 21.589 31.7164 22.1519ZM16.1845 32.1934C16.2184 32.3138 16.2825 32.6094 16.3267 32.8503C16.6624 34.6737 17.8406 37.1263 19.1786 38.7868C21.0619 41.1243 23.6337 42.7515 26.7352 43.5685C27.7834 43.8447 28.2466 43.8941 29.9022 43.9062C31.0853 43.915 32.1341 43.8569 32.5922 43.7573C38.5604 42.4593 42.4962 38.4581 43.8442 32.3185L43.9198 31.9745H50.9863H58.0529V33.4758V34.9772H56.0024C54.2323 34.9772 53.9161 35.0071 53.6909 35.1962C53.5253 35.3352 53.2723 35.9403 52.9978 36.8539C52.4897 38.5453 51.8913 39.9826 51.038 41.5612C50.6986 42.189 50.4209 42.8312 50.4209 42.9884C50.4209 43.1852 50.8771 43.7359 51.8875 44.759L53.3541 46.2438L49.824 49.7739L46.2939 53.304L44.8855 51.9051C44.1109 51.1356 43.3351 50.4717 43.1616 50.4298C42.9235 50.3721 42.4322 50.5664 41.1597 51.2214C39.4723 52.0899 38.149 52.6238 36.4304 53.1294C35.0298 53.5414 35.0319 53.537 35.0319 55.9574V57.9982H30.0274H25.0228V55.9477C25.0228 54.1805 24.9925 53.86 24.8038 53.6288C24.6601 53.4528 24.1374 53.2312 23.282 52.9839C21.6385 52.5087 20.1805 51.9098 18.5608 51.0445C17.8625 50.6715 17.1639 50.3662 17.0085 50.3662C16.8157 50.3662 16.2544 50.8319 15.241 51.8328L13.7562 53.2994L10.2261 49.7693L6.69597 46.2392L8.09487 44.8308C8.86445 44.0562 9.5283 43.2804 9.57022 43.1069C9.6279 42.8688 9.43359 42.3774 8.77862 41.105C7.9042 39.4061 7.36108 38.055 6.88114 36.3846C6.4784 34.9835 6.46589 34.9772 4.04256 34.9772H2.00182V33.4758V31.9745H9.06238C15.6798 31.9745 16.1267 31.9882 16.1845 32.1934Z' fill='url(#paint0_linear_263_7463)')
                defs
                  lineargradient#paint0_linear_263_7463(x1='60.1902' y1='29.1429' x2='0.135471' y2='29.1429' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#00BFFF')
                    stop(offset='1' stop-color='#00E68A')
                  clippath#clip0_263_7463
                    rect(width='60' height='60' fill='white')
            .apply__text Цифровизация производства
        li.apply__item
          .apply__body 
            .apply__icon 
              svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.13228 50.3223C1.74789 50.3223 2.25358 49.8171 2.25358 49.202V34.0219C2.25358 27.2117 6.6288 21.6757 12.0044 21.6757H20.2382V26.9151H12.0044C9.38805 26.9151 7.25539 29.4305 7.25539 32.528V49.2129C7.25539 49.8281 7.7611 50.3333 8.37671 50.3333C8.99232 50.3333 9.49798 49.8281 9.49798 49.2129V32.528C9.49798 30.7047 10.6413 29.1559 12.0044 29.1559H20.2382V30.1115C20.2382 30.7266 20.7439 31.2319 21.3595 31.2319H38.6625C39.2781 31.2319 39.7838 30.7266 39.7838 30.1115V29.1559H48.0176C49.3697 29.1559 50.513 30.6937 50.513 32.528V49.2129C50.513 49.8281 51.0187 50.3333 51.6343 50.3333C52.2499 50.3333 52.7556 49.8281 52.7556 49.2129V32.528C52.7556 29.4305 50.6229 26.9151 48.0066 26.9151H39.7728V21.6757H48.0066C53.3822 21.6757 57.7574 27.2117 57.7574 34.0219V49.202C57.7574 49.8171 58.2631 50.3223 58.8787 50.3223C59.4943 50.3223 60 49.8171 60 49.202V34.0219C60 25.9705 54.6244 19.424 48.0066 19.424H39.7728V18.4683C39.7728 17.8532 39.2671 17.348 38.6515 17.348H31.1213V14.9754H35.7713C36.3869 14.9754 36.8926 14.4701 36.8926 13.855V10.1204C36.8926 9.50528 36.3869 9 35.7713 9H24.2286C23.613 9 23.1074 9.50528 23.1074 10.1204V13.855C23.1074 14.4701 23.613 14.9754 24.2286 14.9754H28.8787V17.348H21.3485C20.7329 17.348 20.2272 17.8532 20.2272 18.4683V19.424H11.9934C5.38658 19.424 0 25.9705 0 34.0219V49.202C0.010993 49.8171 0.516671 50.3223 1.13228 50.3223ZM25.3609 11.2518H34.6501V12.7346H25.3609V11.2518ZM22.4808 19.5887H37.5412V20.5443V28.0355V28.9911H22.4808V28.0355V20.5443V19.5887Z' fill='url(#paint0_linear_175_2936)')
                defs
                  lineargradient#paint0_linear_175_2936(x1='60.1353' y1='29.0762' x2='0.135348' y2='29.0762' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#00BFFF')
                    stop(offset='1' stop-color='#00E68A')
            .apply__text Нефть и газ
        li.apply__item
          .apply__body 
            .apply__icon 
              svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0_263_7472)')
                  path(d='M22.5 46.875H37.5' stroke='url(#paint0_linear_263_7472)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M24.375 54.375H35.625' stroke='url(#paint1_linear_263_7472)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M18.7484 39.3757C15.6005 37.0143 13.2754 33.7224 12.1024 29.9662C10.9294 26.2099 10.9679 22.1799 12.2125 18.4467C13.4571 14.7136 15.8447 11.4667 19.0371 9.16588C22.2295 6.86505 26.0649 5.62696 30 5.62695C33.9351 5.62695 37.7705 6.86503 40.9629 9.16585C44.1553 11.4667 46.5429 14.7136 47.7875 18.4467C49.0321 22.1798 49.0706 26.2099 47.8976 29.9661C46.7246 33.7223 44.3995 37.0143 41.2517 39.3757' stroke='url(#paint2_linear_263_7472)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' fill='none')
                defs
                  lineargradient#paint0_linear_263_7472(x1='37.5338' y1='47.3607' x2='22.5338' y2='47.3607' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#00BFFF')
                    stop(offset='1' stop-color='#00E68A')
                  lineargradient#paint1_linear_263_7472(x1='35.6504' y1='54.8607' x2='24.4004' y2='54.8607' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#00BFFF')
                    stop(offset='1' stop-color='#00E68A')
                  lineargradient#paint2_linear_263_7472(x1='48.8346' y1='22.0192' x2='11.3346' y2='22.0192' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#00BFFF')
                    stop(offset='1' stop-color='#00E68A')
                  clippath#clip0_263_7472
                    rect(width='60' height='60' fill='white')
            .apply__text Энергетика
        li.apply__item
          .apply__body 
            .apply__icon 
              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M41.0547 9.32387L40.7504 9.64775L40.7167 18.9271L40.6829 28.2064H38.5512H36.4196V23.7444V19.2822L36.1114 18.9742C35.9004 18.763 35.6634 18.666 35.3591 18.666C34.8544 18.666 35.1665 18.4075 29.3898 23.6087L25.8121 26.8299L25.7493 23.0931C25.7148 21.0379 25.6376 19.256 25.5776 19.1332C25.4278 18.8263 25.0904 18.666 24.594 18.666C24.2198 18.666 23.5909 19.1916 18.6545 23.6295C15.6179 26.3594 13.0653 28.7461 12.9821 28.9333C12.8774 29.1688 12.829 30.2677 12.8251 32.5059L12.8195 35.7384H11.0691C9.40024 35.7384 9.3022 35.7525 8.9664 36.0411C8.61466 36.3432 8.61416 36.3465 8.57374 38.1625L8.53331 39.9814L5.93467 40.0253L3.33602 40.0693L2.50512 40.4785C1.53802 40.9546 0.873956 41.6354 0.408733 42.6276L0.0779556 43.3331L0.0390407 47.5698L0 51.8065H1.07468H2.14924L2.152 47.8836C2.15451 44.3465 2.17748 43.9114 2.38537 43.4586C2.90494 42.3271 3.42666 42.1532 6.32319 42.1461L8.55139 42.1405V43.2076V44.2746H6.97822C5.20018 44.2746 4.61093 44.4334 4.40807 44.9672C4.33702 45.1538 4.28329 46.6981 4.28329 48.5509V51.8065H5.35032H6.41734V49.1076V46.4086H7.48437H8.55139V46.9654C8.55139 47.6217 8.72827 48.1445 9.02703 48.3716C9.1793 48.4872 9.76228 48.5359 11.0307 48.5387L12.8195 48.5427V49.6137C12.8195 50.7811 13.0178 51.4513 13.4283 51.671C13.6072 51.7666 20.3853 51.8065 36.467 51.8065H59.2524L59.6046 51.5036L59.9569 51.2006L59.9917 30.6339C60.0107 19.322 59.9959 9.94149 59.9588 9.78809C59.9215 9.63457 59.7681 9.39455 59.6178 9.25458C59.3565 9.01105 59.1876 9 55.7222 9H52.0997L51.7916 9.30818L51.4835 9.61624V18.9114V28.2064H50.4196H49.3557L49.3212 18.9271L49.2866 9.64775L48.9823 9.32387L48.6779 9H45.0185H41.3591L41.0547 9.32387ZM47.0898 13.7702V16.4064H44.9558H42.8217V13.7702V11.134H44.9558H47.0898V13.7702ZM57.8856 13.7702V16.4064H55.7516H53.6175V13.7702V11.134H55.7516H57.8856V13.7702ZM47.0898 23.3735V28.2064H44.9558H42.8217V23.4572C42.8217 20.845 42.8594 18.6701 42.9055 18.6242C42.9514 18.5781 43.9117 18.5405 45.0395 18.5405H47.0898V23.3735ZM57.8557 23.4048L57.8886 28.2064H55.7531H53.6175V23.3704V18.5344L55.7202 18.5688L57.8228 18.6032L57.8557 23.4048ZM23.6153 25.9525V29.7243L23.9235 30.0323C24.1323 30.2413 24.372 30.3405 24.6679 30.3405C25.0642 30.3405 25.5237 29.963 29.6635 26.2384L34.2228 22.1362L34.2902 25.9559C34.3272 28.0567 34.3696 29.7875 34.3843 29.8021C34.9728 30.3848 33.9815 30.3405 46.4231 30.3405H57.8856V40.0069V49.6732L36.451 49.6415L15.0163 49.6097V48.0406V46.4714L19.9748 46.4412C23.4985 46.4196 25.0156 46.3679 25.2173 46.2622C25.7017 46.0086 25.7682 45.4339 25.7261 41.8614C25.6872 38.5635 25.6817 38.5019 25.4007 38.2209L25.1149 37.9352L20.0342 37.8997L14.9535 37.8643V33.8543V29.8444L19.1903 26.0177C21.5205 23.9129 23.4694 22.1887 23.5211 22.1859C23.5728 22.1832 23.6153 23.8781 23.6153 25.9525ZM12.8195 42.1405V46.4086H11.7525H10.6854V42.1405V37.8724H11.7525H12.8195V42.1405ZM23.6153 42.1405V44.2746H19.2844H14.9535V42.2243C14.9535 41.0965 14.9912 40.1362 15.0373 40.0902C15.0832 40.0442 17.0321 40.0065 19.3681 40.0065H23.6153V42.1405Z" fill="url(#paint0_linear_175_2946)"/>
              <defs>
              <linearGradient id="paint0_linear_175_2946" x1="60.1353" y1="29.7918" x2="0.135348" y2="29.7918" gradientUnits="userSpaceOnUse">
              <stop stop-color="#00BFFF"/>
              <stop offset="1" stop-color="#00E68A"/>
              </linearGradient>
              </defs>
              </svg>
            .apply__text Промышленное производство
  section.text-block
    .text-block__inner.container
      h2.text-block__h2.h2-inner Команда
      p.text-block__text.text Команда профессионалов высокой квалификации проводит обследование, консалтинг, выбор оптимальных параметров проектного решения, реализацию, внедрение, сопровождение и поддержку.
      p.text-block__text.text Наши Заказчики – основные предприятия реального сектора экономики: энергетики, нефтегазодобычи, промышленного производства. Наши продукты помогают им контролировать критическую инфраструктуру, обеспечивают аналитику для принятия управленческих решений, оптимизируют сложные технологические процессы.
      p.text-block__text.text Наши Заказчики – основные предприятия реального сектора экономики: энергетики, нефтегазодобычи, промышленного производства. Наши продукты помогают им контролировать критическую инфраструктуру, обеспечивают аналитику для принятия управленческих решений, оптимизируют сложные технологические процессы.
  section.text-block
    .text-block__inner.container
      h2.text-block__h2.h2-inner Карьера
      p.text-block__text.text Команда профессионалов высокой квалификации проводит обследование, консалтинг, выбор оптимальных параметров проектного решения, реализацию, внедрение, сопровождение и поддержку.
      p.text-block__text.text Наши Заказчики – основные предприятия реального сектора экономики: энергетики, нефтегазодобычи, промышленного производства. Наши продукты помогают им контролировать критическую инфраструктуру, обеспечивают аналитику для принятия управленческих решений, оптимизируют сложные технологические процессы.
  section.text-block.pt-16
    .text-block__inner.container
      h2.text-block__h2.h2-inner Лицензии и сертификаты
  section.about__licence 
    .about__licence-inner.container
      .about__licence-wrapper 
        +download()


//- block footer
//-   p footer 

//- block append page-bottom
//-   script(src='js/some.js')
