extends ../pug/layout.pug

block meta
  title Корпоративная ответственность
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')



block content
  +inner-wrapper()
    +inner-wrapper-top(style="background-image: url(img/bgrd_corp.jpg);")
      +breadcrumbs()
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Кто мы', '/')
        +breadcrumbs-item('Корпоративная ответственность')
      +main-title('Корпоративная ответственность')
        +main-descr('Разработка комплексных программных продуктов на заказ, реализация решений в области цифровизации производства и снижения импортозависимости.') 
  section.news-det 
    .news-det__inner.container 
      p Команда профессионалов высокой квалификации проводит обследование, консалтинг, выбор оптимальных параметров проектного решения, реализацию, внедрение, сопровождение и поддержку.
      p Мы предлагаем набор планов и возможностей, инноваций и связанных с ними технологических решений, которые помогают компаниям и промышленным предприятиям перейти на новые уровни автоматизации и цифровизации.
      p Наши Заказчики – основные предприятия реального сектора экономики: энергетики, нефтегазодобычи, промышленного производства. Наши продукты помогают им контролировать критическую инфраструктуру, обеспечивают аналитику для принятия управленческих решений, оптимизируют сложные технологические процессы.
      p Команда профессионалов высокой квалификации проводит обследование, консалтинг, выбор оптимальных параметров проектного решения, реализацию, внедрение, сопровождение и поддержку.
      p Мы предлагаем набор планов и возможностей, инноваций и связанных с ними технологических решений, которые помогают компаниям и промышленным предприятиям перейти на новые уровни автоматизации и цифровизации.
      p Наши Заказчики – основные предприятия реального сектора экономики: энергетики, нефтегазодобычи, промышленного производства. Наши продукты помогают им контролировать критическую инфраструктуру, обеспечивают аналитику для принятия управленческих решений, оптимизируют сложные технологические процессы.

      p Команда профессионалов высокой квалификации проводит обследование, консалтинг, выбор оптимальных параметров проектного решения, реализацию, внедрение, сопровождение и поддержку.
      p Мы предлагаем набор планов и возможностей, инноваций и связанных с ними технологических решений, которые помогают компаниям и промышленным предприятиям перейти на новые уровни автоматизации и цифровизации.
      p Наши Заказчики – основные предприятия реального сектора экономики: энергетики, нефтегазодобычи, промышленного производства. Наши продукты помогают им контролировать критическую инфраструктуру, обеспечивают аналитику для принятия управленческих решений, оптимизируют сложные технологические процессы.
      p Команда профессионалов высокой квалификации проводит обследование, консалтинг, выбор оптимальных параметров проектного решения, реализацию, внедрение, сопровождение и поддержку.
      p Мы предлагаем набор планов и возможностей, инноваций и связанных с ними технологических решений, которые помогают компаниям и промышленным предприятиям перейти на новые уровни автоматизации и цифровизации.
      p Наши Заказчики – основные предприятия реального сектора экономики: энергетики, нефтегазодобычи, промышленного производства. Наши продукты помогают им контролировать критическую инфраструктуру, обеспечивают аналитику для принятия управленческих решений, оптимизируют сложные технологические процессы.
      figure 
        img(src="img/corp.png", aria='hidden')
        figcaption Описание к фотографии
  section.about__licence 
    .about__licence-inner.container
      .about__licence-wrapper 
        +download()

//- block footer
//-   p footer 

//- block append page-bottom
//-   script(src='js/some.js')
