extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  +top-slider() 
  +solutions()
  +plus()  
  +branch()
  section.partners-slider(class=allMods)&attributes(attributes)
  .partners-slider__inner.container
    h2.partners-slider__title.h2 Нам доверяют
  +partners()


//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
