extends ../pug/layout.pug

block meta
  title Цифровизация производства
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')



block content
  +inner-wrapper()
    +inner-wrapper-top(style="background-image: url(img/bgrd_industries-cif.jpg);")
      +breadcrumbs()
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Цифровизация производства')
      +main-title('Цифровизация производства')
        +main-descr('Разработка комплексных программных продуктов на заказ, реализация решений в области цифровизации производства и снижения импортозависимости.') 
  section.plain-content
    .plain-content__inner.container 
      .plain-content__text 
        p.text Интегрированное планирование и оптимизация разрабатывает и внедряет инженерные и IT-решения для повышения эффективности бурения и разработки месторождений. Мы объединили инновации в геомеханике, геонавигации и петрофизике с технологиями облачной цифровой платформы и промышленного Искусственного интеллекта.
      .num-block--industries
      +num-block()
  section.accordeon.accordeon--industries
    .accordeon__inner.container
      .accordeon__element 
        .accordeon__btn(style="background-image: url(img/fill-img.jpg);")
          h3.accordeon__title Цифровые двойники (цифровые модели, обеспечивающие предоставление реальной картины работы производства)
          button(type='button').accordeon__check.btn-reset
        .accordeon__content
          .text-block
            p.text-block__text.text Текстовое описание решения. Комплексные решения SAP SE по управлению ресурсами предприятия от сертифицированного партнера уровня Service Partner для увеличения прибыли и снижения затрат. Текстовое описание решения. Начало повседневной работы по формированию позиции однозначно фиксирует необходимость системы массового участия. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры предоставляет широкие возможности для новых принципов формирования материально-технической.
          section.best
            h2.best__title.h2-inner Преимущества
            .best__about 
              ul.best__about-list 
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Наглядная экономика проектов
                      .best__about-subtitle
                        p.best__about-text.text Автоматизация расчета экономической эффективности
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Единое пространство
                      .best__about-subtitle
                        p.best__about-text.text Единое пространство для совместной работы подразделений
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Эффективное управление данными
                      .best__about-subtitle
                        p.best__about-text.text Контроль полноты исходных данных
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Повышение эффективности
                      .best__about-subtitle
                        p.best__about-text.text Сокращение трудозатрат на ведение реестра
            .best__screen 
              ul.best__screen-list 
                li.best__screen-item 
                  img(src="img/screen1.png", alt="Статистика")
                li.best__screen-item 
                  img(src="img/screen2.png", alt="Статистика")
                li.best__screen-item 
                  img(src="img/screen3.png", alt="Статистика")
          .task
            h2.task__title.h2-inner Решаемые задачи
            ul.task__list
              li.task__item
                p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
              li.task__item
                p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
              li.task__item
                p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
              li.task__item
                p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных;
              li.task__item
                p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
              li.task__item
                p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
              li.task__item
                p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
              li.task__item
                p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных.

            .collapse 
              button(type="button").collapse__btn.text-bold.btn-reset 
                svg(width='24' height='29' viewBox='0 0 24 29' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2.71721 14.4104C2.13159 14.9964 1.18184 14.9967 0.59589 14.411C0.00993776 13.8254 0.00966918 12.8757 0.59529 12.2897L2.71721 14.4104ZM12.0005 3L10.9395 1.93964L12.0005 0.87808L13.0614 1.93964L12.0005 3ZM23.4057 12.2897C23.9913 12.8757 23.991 13.8254 23.4051 14.411C22.8191 14.9967 21.8694 14.9964 21.2837 14.4104L23.4057 12.2897ZM0.59529 12.2897L10.9395 1.93964L13.0614 4.06036L2.71721 14.4104L0.59529 12.2897ZM13.0614 1.93964L23.4057 12.2897L21.2837 14.4104L10.9395 4.06036L13.0614 1.93964Z' fill='black')
                  path(d='M10.5 3.25195C10.5 2.42353 11.1716 1.75195 12 1.75195C12.8284 1.75195 13.5 2.42353 13.5 3.25195H10.5ZM13.5 27.0004C13.5 27.8288 12.8284 28.5004 12 28.5004C11.1716 28.5004 10.5 27.8288 10.5 27.0004H13.5ZM13.5 3.25195L13.5 27.0004H10.5L10.5 3.25195H13.5Z' fill='black')
                span Свернуть
      .accordeon__element 
        .accordeon__btn(style="background-image: url(img/fill-img.jpg);")
          h3.accordeon__title Достоверность данных (качественная и достоверная информация, оперативно поступающая на всех этапах производства)
          button(type='button').accordeon__check.btn-reset
        .accordeon__content
          .text-block
            p.text-block__text.text Текстовое описание решения. Комплексные решения SAP SE по управлению ресурсами предприятия от сертифицированного партнера уровня Service Partner для увеличения прибыли и снижения затрат. Текстовое описание решения. Начало повседневной работы по формированию позиции однозначно фиксирует необходимость системы массового участия. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры предоставляет широкие возможности для новых принципов формирования материально-технической.
          section.best
            h2.best__title.h2-inner Преимущества
            .best__about 
              ul.best__about-list 
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Наглядная экономика проектов
                      .best__about-subtitle
                        p.best__about-text.text Автоматизация расчета экономической эффективности
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Единое пространство
                      .best__about-subtitle
                        p.best__about-text.text Единое пространство для совместной работы подразделений
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Эффективное управление данными
                      .best__about-subtitle
                        p.best__about-text.text Контроль полноты исходных данных
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Повышение эффективности
                      .best__about-subtitle
                        p.best__about-text.text Сокращение трудозатрат на ведение реестра
            .best__screen 
              ul.best__screen-list 
                li.best__screen-item 
                  img(src="img/screen1.png", alt="Статистика")
                li.best__screen-item 
                  img(src="img/screen2.png", alt="Статистика")
                li.best__screen-item 
                  img(src="img/screen3.png", alt="Статистика")
          .task
            h2.task__title.h2-inner Решаемые задачи
            ul.task__list
              li.task__item
                p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
              li.task__item
                p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
              li.task__item
                p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
              li.task__item
                p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных;
              li.task__item
                p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
              li.task__item
                p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
              li.task__item
                p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
              li.task__item
                p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных.

            .collapse 
              button(type="button").collapse__btn.text-bold.btn-reset 
                svg(width='24' height='29' viewBox='0 0 24 29' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2.71721 14.4104C2.13159 14.9964 1.18184 14.9967 0.59589 14.411C0.00993776 13.8254 0.00966918 12.8757 0.59529 12.2897L2.71721 14.4104ZM12.0005 3L10.9395 1.93964L12.0005 0.87808L13.0614 1.93964L12.0005 3ZM23.4057 12.2897C23.9913 12.8757 23.991 13.8254 23.4051 14.411C22.8191 14.9967 21.8694 14.9964 21.2837 14.4104L23.4057 12.2897ZM0.59529 12.2897L10.9395 1.93964L13.0614 4.06036L2.71721 14.4104L0.59529 12.2897ZM13.0614 1.93964L23.4057 12.2897L21.2837 14.4104L10.9395 4.06036L13.0614 1.93964Z' fill='black')
                  path(d='M10.5 3.25195C10.5 2.42353 11.1716 1.75195 12 1.75195C12.8284 1.75195 13.5 2.42353 13.5 3.25195H10.5ZM13.5 27.0004C13.5 27.8288 12.8284 28.5004 12 28.5004C11.1716 28.5004 10.5 27.8288 10.5 27.0004H13.5ZM13.5 3.25195L13.5 27.0004H10.5L10.5 3.25195H13.5Z' fill='black')
                span Свернуть
      .accordeon__element 
        .accordeon__btn(style="background-image: url(img/fill-img.jpg);")
          h3.accordeon__title Проактивные приложения (приложения, сигнализирующие о наступлении события и инициирующие выполнения требуемого действия)
          button(type='button').accordeon__check.btn-reset
        .accordeon__content
          .text-block
            p.text-block__text.text Текстовое описание решения. Комплексные решения SAP SE по управлению ресурсами предприятия от сертифицированного партнера уровня Service Partner для увеличения прибыли и снижения затрат. Текстовое описание решения. Начало повседневной работы по формированию позиции однозначно фиксирует необходимость системы массового участия. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры предоставляет широкие возможности для новых принципов формирования материально-технической.
          section.best
            h2.best__title.h2-inner Преимущества
            .best__about 
              ul.best__about-list 
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Наглядная экономика проектов
                      .best__about-subtitle
                        p.best__about-text.text Автоматизация расчета экономической эффективности
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Единое пространство
                      .best__about-subtitle
                        p.best__about-text.text Единое пространство для совместной работы подразделений
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Эффективное управление данными
                      .best__about-subtitle
                        p.best__about-text.text Контроль полноты исходных данных
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Повышение эффективности
                      .best__about-subtitle
                        p.best__about-text.text Сокращение трудозатрат на ведение реестра
            .best__screen 
              ul.best__screen-list 
                li.best__screen-item 
                  img(src="img/screen1.png", alt="Статистика")
                li.best__screen-item 
                  img(src="img/screen2.png", alt="Статистика")
                li.best__screen-item 
                  img(src="img/screen3.png", alt="Статистика")
          .task
            h2.task__title.h2-inner Решаемые задачи
            ul.task__list
              li.task__item
                p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
              li.task__item
                p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
              li.task__item
                p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
              li.task__item
                p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных;
              li.task__item
                p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
              li.task__item
                p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
              li.task__item
                p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
              li.task__item
                p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных.

            .collapse 
              button(type="button").collapse__btn.text-bold.btn-reset 
                svg(width='24' height='29' viewBox='0 0 24 29' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2.71721 14.4104C2.13159 14.9964 1.18184 14.9967 0.59589 14.411C0.00993776 13.8254 0.00966918 12.8757 0.59529 12.2897L2.71721 14.4104ZM12.0005 3L10.9395 1.93964L12.0005 0.87808L13.0614 1.93964L12.0005 3ZM23.4057 12.2897C23.9913 12.8757 23.991 13.8254 23.4051 14.411C22.8191 14.9967 21.8694 14.9964 21.2837 14.4104L23.4057 12.2897ZM0.59529 12.2897L10.9395 1.93964L13.0614 4.06036L2.71721 14.4104L0.59529 12.2897ZM13.0614 1.93964L23.4057 12.2897L21.2837 14.4104L10.9395 4.06036L13.0614 1.93964Z' fill='black')
                  path(d='M10.5 3.25195C10.5 2.42353 11.1716 1.75195 12 1.75195C12.8284 1.75195 13.5 2.42353 13.5 3.25195H10.5ZM13.5 27.0004C13.5 27.8288 12.8284 28.5004 12 28.5004C11.1716 28.5004 10.5 27.8288 10.5 27.0004H13.5ZM13.5 3.25195L13.5 27.0004H10.5L10.5 3.25195H13.5Z' fill='black')
                span Свернуть
      .accordeon__element 
        .accordeon__btn(style="background-image: url(img/fill-img.jpg);")
          h3.accordeon__title Распределенная командная работа и цифровой рабочий (обеспечения рабочего взаимодействия сотрудников вне зависимости от географического места работы, междисциплинарное взаимодействие)
          button(type='button').accordeon__check.btn-reset
        .accordeon__content
          .text-block
            p.text-block__text.text Текстовое описание решения. Комплексные решения SAP SE по управлению ресурсами предприятия от сертифицированного партнера уровня Service Partner для увеличения прибыли и снижения затрат. Текстовое описание решения. Начало повседневной работы по формированию позиции однозначно фиксирует необходимость системы массового участия. Принимая во внимание показатели успешности, укрепление и развитие внутренней структуры предоставляет широкие возможности для новых принципов формирования материально-технической.
          section.best
            h2.best__title.h2-inner Преимущества
            .best__about 
              ul.best__about-list 
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Наглядная экономика проектов
                      .best__about-subtitle
                        p.best__about-text.text Автоматизация расчета экономической эффективности
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Единое пространство
                      .best__about-subtitle
                        p.best__about-text.text Единое пространство для совместной работы подразделений
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Эффективное управление данными
                      .best__about-subtitle
                        p.best__about-text.text Контроль полноты исходных данных
                li.best__about-item 
                  .best__about-body
                    .best__about-pic 
                      img(src="img/logo-sq-white.svg" alt="Логотип").best__about-img
                    .best__about-content
                      .best__about-title
                        h3.best__about-h3.h5 Повышение эффективности
                      .best__about-subtitle
                        p.best__about-text.text Сокращение трудозатрат на ведение реестра
            .best__screen 
              ul.best__screen-list 
                li.best__screen-item 
                  img(src="img/screen1.png", alt="Статистика")
                li.best__screen-item 
                  img(src="img/screen2.png", alt="Статистика")
                li.best__screen-item 
                  img(src="img/screen3.png", alt="Статистика")
            .task
              h2.task__title.h2-inner Решаемые задачи
              ul.task__list
                li.task__item
                  p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
                li.task__item
                  p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
                li.task__item
                  p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
                li.task__item
                  p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных;
                li.task__item
                  p.text Управление допусками, государственной сертификацией и аттестацией персонала опасных производств;
                li.task__item
                  p.text Оперативные обходы с использованием мобильных устройств и систем дополненной реальности;
                li.task__item
                  p.text Автоматизация процессов взаимодействия G2B и G2G при осуществлении государственного контроля товаров и морского и речного транспорта при международной перевозке;
                li.task__item
                  p.text Создание алгоритмов оптимизации управления основными фондами нефтяных месторождений с использованием гибридных моделей на базе гидродинамики и исторических данных.

            .collapse 
              button(type="button").collapse__btn.text-bold.btn-reset 
                svg(width='24' height='29' viewBox='0 0 24 29' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M2.71721 14.4104C2.13159 14.9964 1.18184 14.9967 0.59589 14.411C0.00993776 13.8254 0.00966918 12.8757 0.59529 12.2897L2.71721 14.4104ZM12.0005 3L10.9395 1.93964L12.0005 0.87808L13.0614 1.93964L12.0005 3ZM23.4057 12.2897C23.9913 12.8757 23.991 13.8254 23.4051 14.411C22.8191 14.9967 21.8694 14.9964 21.2837 14.4104L23.4057 12.2897ZM0.59529 12.2897L10.9395 1.93964L13.0614 4.06036L2.71721 14.4104L0.59529 12.2897ZM13.0614 1.93964L23.4057 12.2897L21.2837 14.4104L10.9395 4.06036L13.0614 1.93964Z' fill='black')
                  path(d='M10.5 3.25195C10.5 2.42353 11.1716 1.75195 12 1.75195C12.8284 1.75195 13.5 2.42353 13.5 3.25195H10.5ZM13.5 27.0004C13.5 27.8288 12.8284 28.5004 12 28.5004C11.1716 28.5004 10.5 27.8288 10.5 27.0004H13.5ZM13.5 3.25195L13.5 27.0004H10.5L10.5 3.25195H13.5Z' fill='black')
                span Свернуть
  +projects()
  +partners()
  section.num-solutions.section--angled.mb-section-angled
    .num-solutions__inner.container
      h2.num-solutions__title.h2 Отрасли
      .branch__block.without-top 
        ul.branch__grid 
          .branch__item  
            a(href="javascript:void(0);").branch__link
              .branch__body
                img(src="img/branch2.jpg", alt="").branch__item-img 
                h3.branch__title-h3 Нефть и газ
                ul.branch__bottom 
                  li.branch__subtitle.h5 Цифровые двойники
                  li.branch__subtitle.h5 Цифровое бурение
                  li.branch__subtitle.h5 Интегрированное планирование и оптимизация
                  li.branch__subtitle.h5 Переработка и сбыт
                  li.branch__subtitle.h5 Корпоративные сервисы
          .branch__item  
            a(href="javascript:void(0);").branch__link
              .branch__body
                img(src="img/branch3.jpg", alt="").branch__item-img 
                h3.branch__title-h3 Энергетика
                ul.branch__bottom 
                  li.branch__subtitle.h5 Генерация
                  li.branch__subtitle.h5 Ресурсоснабжающие организации и сбыт
                  li.branch__subtitle.h5 Корпоративные сервисы
          .branch__item  
            a(href="javascript:void(0);").branch__link
              .branch__body
                img(src="img/branch4.jpg", alt="").branch__item-img 
                h3.branch__title-h3 Промышленное производство
                ul.branch__bottom 
                  li.branch__subtitle.h5 Цифровые двойники
                  li.branch__subtitle.h5 Ресурсоснабжающие организации и сбыт
                  li.branch__subtitle.h5 Корпоративные сервисы
      .task--links
        h2.task__title.h2-inner Решения
        ul.task__list
          li.task__item
            a(href="javascript:void(0);").hyperlink__link
              span.text-bold Мониторинг технологических процессов и производств
                .hyperlink__svg 
                  svg(width='16' height='16' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7222 3.53111V2.324L13.8687 3.17756L4.71311 12.3331L4.70077 12.3455L4.68932 12.3586C4.65416 12.3991 4.61102 12.4318 4.56262 12.4548C4.51421 12.4778 4.46158 12.4905 4.40801 12.4922C4.35446 12.4939 4.30113 12.4845 4.25137 12.4646C4.20162 12.4446 4.15652 12.4147 4.1189 12.3765C4.08127 12.3384 4.05194 12.2928 4.03275 12.2428C4.01355 12.1928 4.0049 12.1393 4.00734 12.0858C4.00978 12.0323 4.02325 11.9798 4.04692 11.9317C4.07059 11.8837 4.10394 11.841 4.14487 11.8064L4.16101 11.7928L4.17595 11.7778L13.3137 2.63116L14.1663 1.77778H12.96H9.77778C9.67464 1.77778 9.57572 1.73681 9.50279 1.66387C9.42986 1.59094 9.38889 1.49203 9.38889 1.38889C9.38889 1.28575 9.42986 1.18683 9.50279 1.1139C9.57572 1.04097 9.67464 1 9.77778 1H15.1111C15.2143 1 15.3132 1.04097 15.3861 1.1139C15.459 1.18683 15.5 1.28575 15.5 1.38889V6.72222C15.5 6.82536 15.459 6.92428 15.3861 6.99721C15.3132 7.07014 15.2143 7.11111 15.1111 7.11111C15.008 7.11111 14.9091 7.07014 14.8361 6.99721C14.7632 6.92428 14.7222 6.82536 14.7222 6.72222V3.53111ZM1.77778 3.55556H1.27778V4.05556V14.7222V15.2222H1.77778H12.4444H12.9444V14.7222V10.2778C12.9444 10.1746 12.9854 10.0757 13.0583 10.0028C13.1313 9.92986 13.2302 9.88889 13.3333 9.88889C13.4365 9.88889 13.5354 9.92986 13.6083 10.0028C13.6813 10.0757 13.7222 10.1746 13.7222 10.2778V14.7222C13.7222 15.0611 13.5876 15.3861 13.348 15.6257C13.1083 15.8654 12.7833 16 12.4444 16H1.77778C1.43889 16 1.11388 15.8654 0.874252 15.6257C0.634623 15.3861 0.5 15.0611 0.5 14.7222V4.05556C0.5 3.35392 1.07614 2.77778 1.77778 2.77778H6.22222C6.32536 2.77778 6.42428 2.81875 6.49721 2.89168C6.57014 2.96461 6.61111 3.06353 6.61111 3.16667C6.61111 3.26981 6.57014 3.36872 6.49721 3.44165C6.42428 3.51458 6.32536 3.55556 6.22222 3.55556H1.77778Z' fill='#00BFFF' stroke='#000000')
          li.task__item
            a(href="javascript:void(0);").hyperlink__link
              span.text-bold Энергоучет и энергоэффективность
                .hyperlink__svg 
                  svg(width='16' height='16' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7222 3.53111V2.324L13.8687 3.17756L4.71311 12.3331L4.70077 12.3455L4.68932 12.3586C4.65416 12.3991 4.61102 12.4318 4.56262 12.4548C4.51421 12.4778 4.46158 12.4905 4.40801 12.4922C4.35446 12.4939 4.30113 12.4845 4.25137 12.4646C4.20162 12.4446 4.15652 12.4147 4.1189 12.3765C4.08127 12.3384 4.05194 12.2928 4.03275 12.2428C4.01355 12.1928 4.0049 12.1393 4.00734 12.0858C4.00978 12.0323 4.02325 11.9798 4.04692 11.9317C4.07059 11.8837 4.10394 11.841 4.14487 11.8064L4.16101 11.7928L4.17595 11.7778L13.3137 2.63116L14.1663 1.77778H12.96H9.77778C9.67464 1.77778 9.57572 1.73681 9.50279 1.66387C9.42986 1.59094 9.38889 1.49203 9.38889 1.38889C9.38889 1.28575 9.42986 1.18683 9.50279 1.1139C9.57572 1.04097 9.67464 1 9.77778 1H15.1111C15.2143 1 15.3132 1.04097 15.3861 1.1139C15.459 1.18683 15.5 1.28575 15.5 1.38889V6.72222C15.5 6.82536 15.459 6.92428 15.3861 6.99721C15.3132 7.07014 15.2143 7.11111 15.1111 7.11111C15.008 7.11111 14.9091 7.07014 14.8361 6.99721C14.7632 6.92428 14.7222 6.82536 14.7222 6.72222V3.53111ZM1.77778 3.55556H1.27778V4.05556V14.7222V15.2222H1.77778H12.4444H12.9444V14.7222V10.2778C12.9444 10.1746 12.9854 10.0757 13.0583 10.0028C13.1313 9.92986 13.2302 9.88889 13.3333 9.88889C13.4365 9.88889 13.5354 9.92986 13.6083 10.0028C13.6813 10.0757 13.7222 10.1746 13.7222 10.2778V14.7222C13.7222 15.0611 13.5876 15.3861 13.348 15.6257C13.1083 15.8654 12.7833 16 12.4444 16H1.77778C1.43889 16 1.11388 15.8654 0.874252 15.6257C0.634623 15.3861 0.5 15.0611 0.5 14.7222V4.05556C0.5 3.35392 1.07614 2.77778 1.77778 2.77778H6.22222C6.32536 2.77778 6.42428 2.81875 6.49721 2.89168C6.57014 2.96461 6.61111 3.06353 6.61111 3.16667C6.61111 3.26981 6.57014 3.36872 6.49721 3.44165C6.42428 3.51458 6.32536 3.55556 6.22222 3.55556H1.77778Z' fill='#00BFFF' stroke='#000000')
          li.task__item
            a(href="javascript:void(0);").hyperlink__link
              span.text-bold Промышленная безопасность персонала
                .hyperlink__svg 
                  svg(width='16' height='16' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7222 3.53111V2.324L13.8687 3.17756L4.71311 12.3331L4.70077 12.3455L4.68932 12.3586C4.65416 12.3991 4.61102 12.4318 4.56262 12.4548C4.51421 12.4778 4.46158 12.4905 4.40801 12.4922C4.35446 12.4939 4.30113 12.4845 4.25137 12.4646C4.20162 12.4446 4.15652 12.4147 4.1189 12.3765C4.08127 12.3384 4.05194 12.2928 4.03275 12.2428C4.01355 12.1928 4.0049 12.1393 4.00734 12.0858C4.00978 12.0323 4.02325 11.9798 4.04692 11.9317C4.07059 11.8837 4.10394 11.841 4.14487 11.8064L4.16101 11.7928L4.17595 11.7778L13.3137 2.63116L14.1663 1.77778H12.96H9.77778C9.67464 1.77778 9.57572 1.73681 9.50279 1.66387C9.42986 1.59094 9.38889 1.49203 9.38889 1.38889C9.38889 1.28575 9.42986 1.18683 9.50279 1.1139C9.57572 1.04097 9.67464 1 9.77778 1H15.1111C15.2143 1 15.3132 1.04097 15.3861 1.1139C15.459 1.18683 15.5 1.28575 15.5 1.38889V6.72222C15.5 6.82536 15.459 6.92428 15.3861 6.99721C15.3132 7.07014 15.2143 7.11111 15.1111 7.11111C15.008 7.11111 14.9091 7.07014 14.8361 6.99721C14.7632 6.92428 14.7222 6.82536 14.7222 6.72222V3.53111ZM1.77778 3.55556H1.27778V4.05556V14.7222V15.2222H1.77778H12.4444H12.9444V14.7222V10.2778C12.9444 10.1746 12.9854 10.0757 13.0583 10.0028C13.1313 9.92986 13.2302 9.88889 13.3333 9.88889C13.4365 9.88889 13.5354 9.92986 13.6083 10.0028C13.6813 10.0757 13.7222 10.1746 13.7222 10.2778V14.7222C13.7222 15.0611 13.5876 15.3861 13.348 15.6257C13.1083 15.8654 12.7833 16 12.4444 16H1.77778C1.43889 16 1.11388 15.8654 0.874252 15.6257C0.634623 15.3861 0.5 15.0611 0.5 14.7222V4.05556C0.5 3.35392 1.07614 2.77778 1.77778 2.77778H6.22222C6.32536 2.77778 6.42428 2.81875 6.49721 2.89168C6.57014 2.96461 6.61111 3.06353 6.61111 3.16667C6.61111 3.26981 6.57014 3.36872 6.49721 3.44165C6.42428 3.51458 6.32536 3.55556 6.22222 3.55556H1.77778Z' fill='#00BFFF' stroke='#000000')
          li.task__item
            a(href="javascript:void(0);").hyperlink__link
              span.text-bold Планирование и оптимизация производственных процессов
                .hyperlink__svg 
                  svg(width='16' height='16' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7222 3.53111V2.324L13.8687 3.17756L4.71311 12.3331L4.70077 12.3455L4.68932 12.3586C4.65416 12.3991 4.61102 12.4318 4.56262 12.4548C4.51421 12.4778 4.46158 12.4905 4.40801 12.4922C4.35446 12.4939 4.30113 12.4845 4.25137 12.4646C4.20162 12.4446 4.15652 12.4147 4.1189 12.3765C4.08127 12.3384 4.05194 12.2928 4.03275 12.2428C4.01355 12.1928 4.0049 12.1393 4.00734 12.0858C4.00978 12.0323 4.02325 11.9798 4.04692 11.9317C4.07059 11.8837 4.10394 11.841 4.14487 11.8064L4.16101 11.7928L4.17595 11.7778L13.3137 2.63116L14.1663 1.77778H12.96H9.77778C9.67464 1.77778 9.57572 1.73681 9.50279 1.66387C9.42986 1.59094 9.38889 1.49203 9.38889 1.38889C9.38889 1.28575 9.42986 1.18683 9.50279 1.1139C9.57572 1.04097 9.67464 1 9.77778 1H15.1111C15.2143 1 15.3132 1.04097 15.3861 1.1139C15.459 1.18683 15.5 1.28575 15.5 1.38889V6.72222C15.5 6.82536 15.459 6.92428 15.3861 6.99721C15.3132 7.07014 15.2143 7.11111 15.1111 7.11111C15.008 7.11111 14.9091 7.07014 14.8361 6.99721C14.7632 6.92428 14.7222 6.82536 14.7222 6.72222V3.53111ZM1.77778 3.55556H1.27778V4.05556V14.7222V15.2222H1.77778H12.4444H12.9444V14.7222V10.2778C12.9444 10.1746 12.9854 10.0757 13.0583 10.0028C13.1313 9.92986 13.2302 9.88889 13.3333 9.88889C13.4365 9.88889 13.5354 9.92986 13.6083 10.0028C13.6813 10.0757 13.7222 10.1746 13.7222 10.2778V14.7222C13.7222 15.0611 13.5876 15.3861 13.348 15.6257C13.1083 15.8654 12.7833 16 12.4444 16H1.77778C1.43889 16 1.11388 15.8654 0.874252 15.6257C0.634623 15.3861 0.5 15.0611 0.5 14.7222V4.05556C0.5 3.35392 1.07614 2.77778 1.77778 2.77778H6.22222C6.32536 2.77778 6.42428 2.81875 6.49721 2.89168C6.57014 2.96461 6.61111 3.06353 6.61111 3.16667C6.61111 3.26981 6.57014 3.36872 6.49721 3.44165C6.42428 3.51458 6.32536 3.55556 6.22222 3.55556H1.77778Z' fill='#00BFFF' stroke='#000000')
          li.task__item
            a(href="javascript:void(0);").hyperlink__link
              span.text-bold Аналитика, визуализация, моделирование, прогнозирование, управление данными
                .hyperlink__svg 
                  svg(width='16' height='16' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7222 3.53111V2.324L13.8687 3.17756L4.71311 12.3331L4.70077 12.3455L4.68932 12.3586C4.65416 12.3991 4.61102 12.4318 4.56262 12.4548C4.51421 12.4778 4.46158 12.4905 4.40801 12.4922C4.35446 12.4939 4.30113 12.4845 4.25137 12.4646C4.20162 12.4446 4.15652 12.4147 4.1189 12.3765C4.08127 12.3384 4.05194 12.2928 4.03275 12.2428C4.01355 12.1928 4.0049 12.1393 4.00734 12.0858C4.00978 12.0323 4.02325 11.9798 4.04692 11.9317C4.07059 11.8837 4.10394 11.841 4.14487 11.8064L4.16101 11.7928L4.17595 11.7778L13.3137 2.63116L14.1663 1.77778H12.96H9.77778C9.67464 1.77778 9.57572 1.73681 9.50279 1.66387C9.42986 1.59094 9.38889 1.49203 9.38889 1.38889C9.38889 1.28575 9.42986 1.18683 9.50279 1.1139C9.57572 1.04097 9.67464 1 9.77778 1H15.1111C15.2143 1 15.3132 1.04097 15.3861 1.1139C15.459 1.18683 15.5 1.28575 15.5 1.38889V6.72222C15.5 6.82536 15.459 6.92428 15.3861 6.99721C15.3132 7.07014 15.2143 7.11111 15.1111 7.11111C15.008 7.11111 14.9091 7.07014 14.8361 6.99721C14.7632 6.92428 14.7222 6.82536 14.7222 6.72222V3.53111ZM1.77778 3.55556H1.27778V4.05556V14.7222V15.2222H1.77778H12.4444H12.9444V14.7222V10.2778C12.9444 10.1746 12.9854 10.0757 13.0583 10.0028C13.1313 9.92986 13.2302 9.88889 13.3333 9.88889C13.4365 9.88889 13.5354 9.92986 13.6083 10.0028C13.6813 10.0757 13.7222 10.1746 13.7222 10.2778V14.7222C13.7222 15.0611 13.5876 15.3861 13.348 15.6257C13.1083 15.8654 12.7833 16 12.4444 16H1.77778C1.43889 16 1.11388 15.8654 0.874252 15.6257C0.634623 15.3861 0.5 15.0611 0.5 14.7222V4.05556C0.5 3.35392 1.07614 2.77778 1.77778 2.77778H6.22222C6.32536 2.77778 6.42428 2.81875 6.49721 2.89168C6.57014 2.96461 6.61111 3.06353 6.61111 3.16667C6.61111 3.26981 6.57014 3.36872 6.49721 3.44165C6.42428 3.51458 6.32536 3.55556 6.22222 3.55556H1.77778Z' fill='#00BFFF' stroke='#000000')
          li.task__item
            a(href="javascript:void(0);").hyperlink__link
              span.text-bold Поддержка процессов эксплуатации и ремонтов оборудования
                .hyperlink__svg 
                  svg(width='16' height='16' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7222 3.53111V2.324L13.8687 3.17756L4.71311 12.3331L4.70077 12.3455L4.68932 12.3586C4.65416 12.3991 4.61102 12.4318 4.56262 12.4548C4.51421 12.4778 4.46158 12.4905 4.40801 12.4922C4.35446 12.4939 4.30113 12.4845 4.25137 12.4646C4.20162 12.4446 4.15652 12.4147 4.1189 12.3765C4.08127 12.3384 4.05194 12.2928 4.03275 12.2428C4.01355 12.1928 4.0049 12.1393 4.00734 12.0858C4.00978 12.0323 4.02325 11.9798 4.04692 11.9317C4.07059 11.8837 4.10394 11.841 4.14487 11.8064L4.16101 11.7928L4.17595 11.7778L13.3137 2.63116L14.1663 1.77778H12.96H9.77778C9.67464 1.77778 9.57572 1.73681 9.50279 1.66387C9.42986 1.59094 9.38889 1.49203 9.38889 1.38889C9.38889 1.28575 9.42986 1.18683 9.50279 1.1139C9.57572 1.04097 9.67464 1 9.77778 1H15.1111C15.2143 1 15.3132 1.04097 15.3861 1.1139C15.459 1.18683 15.5 1.28575 15.5 1.38889V6.72222C15.5 6.82536 15.459 6.92428 15.3861 6.99721C15.3132 7.07014 15.2143 7.11111 15.1111 7.11111C15.008 7.11111 14.9091 7.07014 14.8361 6.99721C14.7632 6.92428 14.7222 6.82536 14.7222 6.72222V3.53111ZM1.77778 3.55556H1.27778V4.05556V14.7222V15.2222H1.77778H12.4444H12.9444V14.7222V10.2778C12.9444 10.1746 12.9854 10.0757 13.0583 10.0028C13.1313 9.92986 13.2302 9.88889 13.3333 9.88889C13.4365 9.88889 13.5354 9.92986 13.6083 10.0028C13.6813 10.0757 13.7222 10.1746 13.7222 10.2778V14.7222C13.7222 15.0611 13.5876 15.3861 13.348 15.6257C13.1083 15.8654 12.7833 16 12.4444 16H1.77778C1.43889 16 1.11388 15.8654 0.874252 15.6257C0.634623 15.3861 0.5 15.0611 0.5 14.7222V4.05556C0.5 3.35392 1.07614 2.77778 1.77778 2.77778H6.22222C6.32536 2.77778 6.42428 2.81875 6.49721 2.89168C6.57014 2.96461 6.61111 3.06353 6.61111 3.16667C6.61111 3.26981 6.57014 3.36872 6.49721 3.44165C6.42428 3.51458 6.32536 3.55556 6.22222 3.55556H1.77778Z' fill='#00BFFF' stroke='#000000')
          li.task__item
            a(href="javascript:void(0);").hyperlink__link
              span.text-bold Цифровой персонал, цифровое рабочее место
                .hyperlink__svg 
                  svg(width='16' height='16' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7222 3.53111V2.324L13.8687 3.17756L4.71311 12.3331L4.70077 12.3455L4.68932 12.3586C4.65416 12.3991 4.61102 12.4318 4.56262 12.4548C4.51421 12.4778 4.46158 12.4905 4.40801 12.4922C4.35446 12.4939 4.30113 12.4845 4.25137 12.4646C4.20162 12.4446 4.15652 12.4147 4.1189 12.3765C4.08127 12.3384 4.05194 12.2928 4.03275 12.2428C4.01355 12.1928 4.0049 12.1393 4.00734 12.0858C4.00978 12.0323 4.02325 11.9798 4.04692 11.9317C4.07059 11.8837 4.10394 11.841 4.14487 11.8064L4.16101 11.7928L4.17595 11.7778L13.3137 2.63116L14.1663 1.77778H12.96H9.77778C9.67464 1.77778 9.57572 1.73681 9.50279 1.66387C9.42986 1.59094 9.38889 1.49203 9.38889 1.38889C9.38889 1.28575 9.42986 1.18683 9.50279 1.1139C9.57572 1.04097 9.67464 1 9.77778 1H15.1111C15.2143 1 15.3132 1.04097 15.3861 1.1139C15.459 1.18683 15.5 1.28575 15.5 1.38889V6.72222C15.5 6.82536 15.459 6.92428 15.3861 6.99721C15.3132 7.07014 15.2143 7.11111 15.1111 7.11111C15.008 7.11111 14.9091 7.07014 14.8361 6.99721C14.7632 6.92428 14.7222 6.82536 14.7222 6.72222V3.53111ZM1.77778 3.55556H1.27778V4.05556V14.7222V15.2222H1.77778H12.4444H12.9444V14.7222V10.2778C12.9444 10.1746 12.9854 10.0757 13.0583 10.0028C13.1313 9.92986 13.2302 9.88889 13.3333 9.88889C13.4365 9.88889 13.5354 9.92986 13.6083 10.0028C13.6813 10.0757 13.7222 10.1746 13.7222 10.2778V14.7222C13.7222 15.0611 13.5876 15.3861 13.348 15.6257C13.1083 15.8654 12.7833 16 12.4444 16H1.77778C1.43889 16 1.11388 15.8654 0.874252 15.6257C0.634623 15.3861 0.5 15.0611 0.5 14.7222V4.05556C0.5 3.35392 1.07614 2.77778 1.77778 2.77778H6.22222C6.32536 2.77778 6.42428 2.81875 6.49721 2.89168C6.57014 2.96461 6.61111 3.06353 6.61111 3.16667C6.61111 3.26981 6.57014 3.36872 6.49721 3.44165C6.42428 3.51458 6.32536 3.55556 6.22222 3.55556H1.77778Z' fill='#00BFFF' stroke='#000000')
          li.task__item
            a(href="javascript:void(0);").hyperlink__link
              span.text-bold Цифровое зрение, ИИ, большие данные, глубокое обучение
                .hyperlink__svg 
                  svg(width='16' height='16' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M14.7222 3.53111V2.324L13.8687 3.17756L4.71311 12.3331L4.70077 12.3455L4.68932 12.3586C4.65416 12.3991 4.61102 12.4318 4.56262 12.4548C4.51421 12.4778 4.46158 12.4905 4.40801 12.4922C4.35446 12.4939 4.30113 12.4845 4.25137 12.4646C4.20162 12.4446 4.15652 12.4147 4.1189 12.3765C4.08127 12.3384 4.05194 12.2928 4.03275 12.2428C4.01355 12.1928 4.0049 12.1393 4.00734 12.0858C4.00978 12.0323 4.02325 11.9798 4.04692 11.9317C4.07059 11.8837 4.10394 11.841 4.14487 11.8064L4.16101 11.7928L4.17595 11.7778L13.3137 2.63116L14.1663 1.77778H12.96H9.77778C9.67464 1.77778 9.57572 1.73681 9.50279 1.66387C9.42986 1.59094 9.38889 1.49203 9.38889 1.38889C9.38889 1.28575 9.42986 1.18683 9.50279 1.1139C9.57572 1.04097 9.67464 1 9.77778 1H15.1111C15.2143 1 15.3132 1.04097 15.3861 1.1139C15.459 1.18683 15.5 1.28575 15.5 1.38889V6.72222C15.5 6.82536 15.459 6.92428 15.3861 6.99721C15.3132 7.07014 15.2143 7.11111 15.1111 7.11111C15.008 7.11111 14.9091 7.07014 14.8361 6.99721C14.7632 6.92428 14.7222 6.82536 14.7222 6.72222V3.53111ZM1.77778 3.55556H1.27778V4.05556V14.7222V15.2222H1.77778H12.4444H12.9444V14.7222V10.2778C12.9444 10.1746 12.9854 10.0757 13.0583 10.0028C13.1313 9.92986 13.2302 9.88889 13.3333 9.88889C13.4365 9.88889 13.5354 9.92986 13.6083 10.0028C13.6813 10.0757 13.7222 10.1746 13.7222 10.2778V14.7222C13.7222 15.0611 13.5876 15.3861 13.348 15.6257C13.1083 15.8654 12.7833 16 12.4444 16H1.77778C1.43889 16 1.11388 15.8654 0.874252 15.6257C0.634623 15.3861 0.5 15.0611 0.5 14.7222V4.05556C0.5 3.35392 1.07614 2.77778 1.77778 2.77778H6.22222C6.32536 2.77778 6.42428 2.81875 6.49721 2.89168C6.57014 2.96461 6.61111 3.06353 6.61111 3.16667C6.61111 3.26981 6.57014 3.36872 6.49721 3.44165C6.42428 3.51458 6.32536 3.55556 6.22222 3.55556H1.77778Z' fill='#00BFFF' stroke='#000000')



//- block footer
//-   p footer 

//- block append page-bottom
//-   script(src='js/some.js')
