extends ../pug/layout.pug

block meta
  title Автоматизированная система управления ремонтами и техническим обслуживанием оборудования
  meta(name='description' content='')

//- block append head
//-   link(rel='stylesheet' href='css/some.css')



block content
  +inner-wrapper()
    +inner-wrapper-top(style="background-image: url(img/bgrd_projects.jpg);")
      +breadcrumbs()
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Проекты', '/')
        +breadcrumbs-item('Бинбанк', '/')
        +breadcrumbs-item('Автоматизированная система управления ремонтами и техническим обслуживанием оборудования')
      +main-title('Автоматизированная система управления ремонтами и техническим обслуживанием оборудования')
  section.text-block.mt-80
    .text-block__inner.container
      h2.text-block__h2.h2-inner Задача
      p.text-block__text.text Основным объектом автоматизации при реализации проекта стала деятельность в&nbsp;рамках бизнес-процессов, касающихся обслуживания терминального оборудования банка. Данные об&nbsp;устройствах, функционирующих в&nbsp;разных системах, были разрознены и&nbsp;недостаточно документированы, процедуры их&nbsp;эксплуатации&nbsp;&mdash; нечеткими и&nbsp;плохо измеримыми. Все это приводило к&nbsp;образованию значительного объема трудно-управляемой информации о&nbsp;терминальном оборудовании, что, в&nbsp;свою очередь, вызывало постоянный рост дополнительной нагрузки на&nbsp;бизнес. Между различными системами отсутствовала интеграция, что служило причиной ошибок, приводило к&nbsp;увеличению трудоёмкости и&nbsp;снижению эффективности работы в&nbsp;целом.
      p.text-block__text.text В&nbsp;2015 году руководством департамента дистанционного банковского обслуживания БИНБАНКа было принято решение о&nbsp;необходимости создания единого процесса управления сетью терминальных устройств самообслуживания и&nbsp;POS-терминалов. Решение должно было объединить все подразделения БИНБАНКа, использующие и&nbsp;обслуживающие данные устройства. Кроме этого, архитектура и&nbsp;методология решения должны были учитывать не&nbsp;только требования центрального офиса, но&nbsp;и&nbsp;особенности дальнейшего использования решения в&nbsp;региональных филиалах банка.
  section.text-block
    .text-block__inner.container
      h2.text-block__h2.h2-inner Решение
      p.text-block__text.text Для реализации проекта была приглашена компания ИНЛАЙН ГРУП, специалисты которой предложили собственные инновационные методические подходы и&nbsp;технические решения, с&nbsp;помощью которых удалось реализовать управление сетью терминальных устройств значительно проще и&nbsp;с&nbsp;меньшими затратами, чем это могло быть при выборе другого решения.
      p.text-block__text.text Принципиальной особенностью предложенного решения было использование методологии управления ИТ-активами (ITAM) для управления жизненным циклом терминальных устройств.
      p.text-block__text.text Первым шагом в&nbsp;этом направлении стало формирование единых требований банка для оптимизации процесса управления сетью терминального оборудования. Проектной командой ИНЛАЙН ГРУП совместно с&nbsp;командой заказчика были разработаны: описание процесса управления сетью терминальных устройств, техническое задание на&nbsp;настройку системы, требования к&nbsp;интеграциям, а&nbsp;также алгоритмы выполнения стандартных запросов на&nbsp;обслуживание.
  section.text-block
    .text-block__inner.container
      h2.text-block__h2.h2-inner Результат
      p.text-block__text.text-bold Автоматизация процесса управления сетью терминальных устройств самообслуживания и POS-терминалов позволила:
      ul.task__list
        li.task__item
          p.text Обеспечить руководство банка возможностью получать объективную статистическую информацию о работе и обслуживании устройств, работе поддерживающих подразделений, а также принимать эффективные управленческие решения на основе этих данных;
        li.task__item
          p.text Повысить темпы внедрения новых банковских продуктов за счет владения достоверной информацией о работе терминальных устройств и процедурах обслуживания;
        li.task__item
          p.text Организовать работу в системе с внешними контрагентами в рамках единого процесса;
        li.task__item
          p.text Улучшить контроль исполнения поставщиками и сервисными организациями своих обязательств;
        li.task__item
          p.text Унифицировать процесс управления терминальным оборудованием между всеми участниками;
        li.task__item
          p.text Сократить время на интеграцию данных о новых устройствах.
      p.text-block__text.text В&nbsp;итоге БИНБАНК получил единое централизованное решение по&nbsp;учету терминальных устройств самообслуживания и&nbsp;POS-терминалов, которое является уникальным для России, поскольку в&nbsp;нем было реализовано управление бизнес-активами Банка на&nbsp;основе методологии ITAM, а&nbsp;автоматизация была выполнена с&nbsp;помощью существующей ITSM системы HPE Service Manager.
      p.text-block__text.text Помимо успешного решения практических задач, данный проект является наглядным примером эффективного применения в&nbsp;банковской сфере лучших практик ITSM и&nbsp;ITAM для автоматизации бизнес-процессов, выходящих за&nbsp;рамки ИТ.
      p.text-block__text.text Большой опыт компании-исполнителя в&nbsp;применении методологий ITSM и&nbsp;ITAM для организации процессов управления информационными технологиями позволил решить широкий спектр бизнес-задач без серьезного увеличения бюджета заказчика. Это дало возможность не&nbsp;закупать еще одно специализированное и&nbsp;дорогостоящее решение, а&nbsp;быстро применить существующий функционал для реализации принципиально новых задач.
      p.text-block__text.text Результаты внедрения убедительно демонстрируют уникальные преимущества использования методик ITSM для управления активами в&nbsp;сферах деятельности, традиционно контролируемыми сложными и&nbsp;дорогими системами класса ERP.
      
      ul.download.mb-64
        li.download__item 
          .download__body
            .download__pic 
              svg(width='32' height='34' viewBox='0 0 32 34' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M28.3346 33H4.33333C3.97971 33 3.64057 32.8595 3.39052 32.6095C3.14048 32.3594 3 32.0203 3 31.6667V2.33333C3 1.97971 3.14048 1.64057 3.39052 1.39052C3.64057 1.14048 3.97971 1 4.33333 1H20.3346L29.668 10.3333V31.6667C29.668 31.8418 29.6335 32.0151 29.5665 32.1769C29.4995 32.3387 29.4013 32.4857 29.2774 32.6095C29.1536 32.7333 29.0066 32.8315 28.8449 32.8985C28.6831 32.9655 28.5097 33 28.3346 33Z' stroke='#00BFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none')
                path(d='M20.334 1V10.3333H29.6686' stroke='#00BFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none')
                path(d='M11.666 21.6665L16.3327 26.3332L20.9993 21.6665' stroke='#00BFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none')
                path(d='M16.334 15.6665V26.3332' stroke='#00BFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none')
            .download__content
              .download__title
                h3.download__h3.h5 Документ №1
              .download__subtitle
                p.download__text.text Дополнительная информация описания документа.
              +hyperlink()
  +return('назад')


//- block footer
//-   p footer 

//- block append page-bottom
//-   script(src='js/some.js')
