extends ../pug/layout.pug

block meta
  title Решения
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')



block content
  +inner-wrapper()
    +inner-wrapper-top(style="background-image: url(img/bgrd_solutions.jpg);")
      +breadcrumbs()
        +breadcrumbs-item('Главная', '/')
        +breadcrumbs-item('Решения')
      +main-title('Решения')
        +main-descr('Разработка комплексных программных продуктов на заказ, реализация решений в области цифровизации производства и снижения импортозависимости.')
  section.plain-content 
    .plain-content__inner.container 
      .plain-content__text 
        p.text Advanced Digital Solutions предлагает своим заказчикам широкий спектр решений и&nbsp;услуг&nbsp;&mdash; от&nbsp;автоматизации деятельности предприятий до&nbsp;сопровождения и&nbsp;поддержки&nbsp;ИТ и&nbsp;инженерной инфраструктуры. Наши опыт и&nbsp;экспертиза помогут вам достичь целей и&nbsp;повысить эффективность бизнеса. Предлагает своим заказчикам широкий спектр решений и&nbsp;услуг&nbsp;&mdash; от&nbsp;автоматизации деятельности предприятий до&nbsp;сопровождения и&nbsp;поддержки&nbsp;ИТ и&nbsp;инженерной инфраструктуры. Наши опыт и&nbsp;экспертиза помогут вам достичь целей и&nbsp;повысить эффективность бизнеса.
        p.text Наши опыт и&nbsp;экспертиза помогут вам достичь целей и&nbsp;повысить эффективность бизнеса. Предлагает своим заказчикам широкий спектр решений и&nbsp;услуг&nbsp;&mdash; от&nbsp;автоматизации еятельности предприятий до&nbsp;сопровождения и&nbsp;поддержки&nbsp;ИТ и&nbsp;инженерной инфраструктуры. Наши опыт и&nbsp;экспертиза помогут вам достичь целей и&nbsp;повысить эффективность бизнеса.
  +num-solutions()



//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
