//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer.footer--angled(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner.container
      .page-footer__body
        .page-footer__about 
          .page-footer__logo 
            img(src="img/logo.svg", alt="Логотип")
          address.page-footer__info 
            a(href="tel:+7(495)2802595").page-footer__tel +7 (495) 280-25-95 
            a(href="mailto:info@adsolutions.ru").page-footer__email info@adsolutions.ru
            p.page-footer__company АДС Цифровые Технологии
            p.page-footer__address 123290, г. Москва, Бизнес-центр &laquo;Якорь&raquo;, Причальный проезд, д.&nbsp;2
          .page-footer__copyright &copy;&nbsp;ООО &laquo;АДС Цифровые Технологии&raquo;, 2021
        nav.page-footer__menu 
          ul.page-footer__list 
            li.page-footer__item
              a(href="javascript:void(0)").page-footer__link Кто мы
            li.page-footer__item
              a(href="javascript:void(0)").page-footer__link Решения
            li.page-footer__item
              a(href="javascript:void(0)").page-footer__link Отрасли
            li.page-footer__item
              a(href="javascript:void(0)").page-footer__link Контакты
        form.page-footer__form.footer-form 
          .footer-form__left
            .footer-form__title.h5 Обратная связь
            label.footer-form__label
              input(type="text" name="name" placeholder="Имя Фамилия").footer-form__input
            label.footer-form__label
              input(type="text" name="name" placeholder="Компания").footer-form__input
            label.footer-form__label
              input(type="text" name="name" placeholder="Должность").footer-form__input
            label.footer-form__label.message-desc
              textarea(name="name", cols="30", rows="6", placeholder="Ваше сообщение").footer-form__textarea
          .footer-form__right
            label.footer-form__label
              input(type="text" name="name" placeholder="Телефон").footer-form__input
            label.footer-form__label
              input(type="text" name="name" placeholder="E-mail").footer-form__input
            label.footer-form__label.message-mob
              textarea(name="name", cols="30", rows="6", placeholder="Ваше сообщение").footer-form__textarea
            .footer-form__agree
              label.footer-form__label.custom-checkbox 
                input(type="checkbox" name="name" required="required").footer-form__checkbox
                span 
                | Ознакомлен с 
                a(href="javascript:void()") политикой в области обработки персональных данных 
                |и даю согласие на их обработку
            button(type="submit").footer-form__submit.btn Отправить
