//- Все примеси в этом файле должны начинаться c имени блока (main-descr)

mixin main-descr(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +main-descr('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-descr--' + modsList[i].trim();
      }
    }

  .main-descr(class=allMods)&attributes(attributes)
    .main-descr__inner
      p.slider-text.main-descr__text=text
      block
