//- Все примеси в этом файле должны начинаться c имени блока (num-block)

mixin num-block(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +num-block('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' num-block--' + modsList[i].trim();
      }
    }

  ul.num-block
    li.num-block__item 
      .num-block__body 
        .num-block__num.h2 5&nbsp;500+
        p.num-block__text.text скважин с геологическим и петрофизическим сопровождением бурения
    li.num-block__item 
      .num-block__body 
        .num-block__num.h2 400+
        p.num-block__text.text проектов по сопровождению бурения и комплексных проектов разработки месторождений
    li.num-block__item 
      .num-block__body 
        .num-block__num.h2 20%
        p.num-block__text.text высокотехнологичных скважин

