// В этом файле должны быть стили для БЭМ-блока project-tasks, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.project-tasks {

  $block-name: &; // #{$block-name}__element

  margin: 48px 0;

  @media (min-width: $screen-lg){
    margin: 80px 0 64px;
  }
  &__list {

    padding: 0;
    list-style: none;


    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
    }
  }

  &__item {
    margin-bottom: 16px;

    @media (min-width: $screen-xl) {
      flex: 0 0 33.333%;
    }

    @media (min-width: $screen-lg) {
      flex: 0 0 50%;
      padding: 0 20px;
      margin-bottom: 40px;
    }

    &:hover {
      .project-tasks__body {
        background: linear-gradient(0deg, rgba(64, 119, 115, 0.85), rgba(64, 119, 115, 0.85)), url("../img/fill-img.jpg");
        background-repeat: no-repeat;
        background-color: $main-dark;
        background-position: right center;
        background-size: cover;
      }
    

      .project-tasks__title {
        color: $white;
      }
    }
  }

  &__body {
    text-decoration: none;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    background-repeat: no-repeat;
    background-color: $white;
    background-position: right center;
    background-size: cover;
    transition: all $transition-time;

    @media (min-width: $screen-xxl) {
      padding: 48px;
    }
    @media (min-width: $screen-lg) {
      padding: 36px;
      flex: 0 0 25%;
      flex-direction: column;
      justify-content: start;
    }
  }

  &__title {
    color: $black;
    font: 14px/1.5 $ff-i-sb;
    transition: color $transition-time;

    @media (min-width: $screen-xl) {
      font-size: 18px;

    }

    @media (min-width: $screen-lg) {
      flex: 1 0 auto;
    }
  }

}