// В этом файле должны быть стили для БЭМ-блока to-top, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$transition-time: 0.3s !default;

.to-top {

  $block-name: &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #00BFFF -0.23%, #00E68A 99.77%);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  text-decoration: none;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0px;
  width: 56px;
  height: 56px;
  padding: 8px;
  transition: opacity $transition-time;

  @media (min-width: $screen-md) {
    display: none;
  }

  &__btn {
    font: 10px/1.5 $ff-i-b;
    color: $white;
    white-space: nowrap;
    padding-top: 12px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background: url(../img/arrow-down-white.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: 0;
      width: 16px;
      height: 16px;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
      transition: all $transition-time;
    }
  }

  // .js & {
  //   opacity: 0;
  //   visibility: hidden;

  //   &--visible {
  //     opacity: 1;
  //     visibility: visible;
  //   }
  // }
}