//- Все примеси в этом файле должны начинаться c имени блока (apply)

mixin apply(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +apply('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' apply--' + modsList[i].trim();
      }
    }

  .apply(class=allMods)&attributes(attributes)
    .apply__inner.container
      h2.task__title.h2-inner Области применения 
      ul.apply__list
        li.apply__item
          .apply__body 
            .apply__icon 
              svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0_263_7463)')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M27.2123 0.0775398C15.9908 1.24022 6.46526 9.08612 3.19829 19.8573C2.40432 22.4751 1.9449 25.88 2.02334 28.5654L2.06438 29.9732L1.33935 29.9729C0.736046 29.9727 0.562638 30.0243 0.307155 30.2798L0 30.5868V33.4758V36.3648L0.307155 36.6719C0.60968 36.9745 0.646464 36.979 2.79455 36.979H4.97503L5.49863 38.5063C5.78665 39.3462 6.33002 40.6508 6.70611 41.4051L7.38986 42.7768L5.82193 44.3615C4.95952 45.2331 4.25388 46.0427 4.25388 46.1606C4.25388 46.2785 4.33432 46.527 4.43266 46.7129C4.531 46.8987 6.57386 49.0072 8.97217 51.3984C13.0053 55.4195 13.3652 55.7461 13.7622 55.7461C14.1469 55.7461 14.3406 55.5909 15.6346 54.2446C16.4286 53.4188 17.1402 52.7431 17.2162 52.7433C17.2921 52.7433 17.9959 53.0467 18.7801 53.4174C19.5643 53.788 20.8394 54.3004 21.6134 54.5562L23.021 55.021V57.2033C23.021 59.3537 23.0255 59.3903 23.3281 59.6928L23.6352 60H30.0274H36.4196L36.7266 59.6928C37.0292 59.3903 37.0337 59.3539 37.0337 57.201V55.016L38.0659 54.6785C39.2772 54.2825 41.346 53.4057 42.2039 52.9248L42.8076 52.5865L44.4042 54.1663C45.2824 55.0352 46.0974 55.7461 46.2154 55.7461C46.3332 55.7461 46.5817 55.6657 46.7676 55.5673C46.9534 55.469 49.0618 53.4261 51.4531 51.0278C55.4869 46.982 55.8008 46.6358 55.8008 46.2347C55.8008 45.8459 55.6492 45.6562 54.2995 44.3558C53.4737 43.5602 52.7981 42.85 52.7981 42.7774C52.7981 42.705 53.1014 42.0041 53.4721 41.2199C53.8427 40.4357 54.3551 39.1608 54.6109 38.3866L55.0757 36.979H57.258C59.4084 36.979 59.445 36.9745 59.7476 36.6719L60.0547 36.3648V33.4758V30.5868L59.7476 30.2798C59.4923 30.0244 59.3183 29.9726 58.7154 29.9725L57.9903 29.9723L57.9781 27.5641C57.9555 23.1507 57.1088 19.5977 55.1081 15.522C51.1336 7.42548 43.2388 1.64197 34.2789 0.263209C32.6964 0.0197373 28.767 -0.0834819 27.2123 0.0775398ZM32.5477 2.07974C37.5816 2.59521 42.4855 4.59065 46.3111 7.68034C52.4862 12.6675 56.0511 20.1637 56.0511 28.1615C56.0511 28.94 56.0169 29.6659 55.9751 29.7747C55.9072 29.9518 55.2 29.9727 49.2759 29.9727H42.6525L42.3643 30.2608C42.1537 30.4715 42.0522 30.7606 41.9871 31.3365C41.6602 34.2259 39.9061 37.3574 37.5779 39.2079C36.3407 40.1912 34.4266 41.1458 32.9675 41.5072C31.3461 41.9088 28.6574 41.9088 27.1497 41.5072C23.6186 40.5665 20.6736 38.1191 19.1781 34.8822C18.7243 33.9001 18.1415 31.8296 18.1415 31.1995C18.1415 30.7845 17.9462 30.359 17.652 30.133C17.5017 30.0177 15.8338 29.9797 10.8045 29.9767C4.8593 29.973 4.14753 29.9518 4.07959 29.7747C4.0378 29.6659 4.00365 28.94 4.00365 28.1615C4.00365 20.2382 7.50834 12.7846 13.5585 7.84086C18.8433 3.52255 25.8569 1.39474 32.5477 2.07974ZM28.9774 4.12573C27.9243 4.51771 27.0246 5.80889 27.0246 6.92816C27.0246 7.96498 27.7968 9.22525 28.6482 9.57782L29.0292 9.73571L28.9965 14.8735L28.9639 20.0114L28.1506 20.1628C27.2857 20.324 25.7716 20.8551 25.3043 21.1611L25.0228 21.3455V17.9522V14.5589L24.6653 14.2251C24.4688 14.0414 23.7664 13.4699 23.1045 12.9549L21.9012 12.0188L21.9775 11.3643C22.0956 10.3528 21.837 9.63187 21.0886 8.88669C19.8176 7.62104 18.2143 7.62104 16.9487 8.88669C15.6829 10.1525 15.6829 11.7582 16.9487 13.024C17.8774 13.9527 19.0201 14.207 20.0865 13.7226L20.5929 13.4926L21.8007 14.4448L23.0086 15.3969L23.0147 19.1014L23.021 22.8059L22.5378 23.3552C22.0023 23.9641 21.0701 25.3614 20.9526 25.7313C20.881 25.9569 20.714 25.9686 17.664 25.9627L14.4507 25.9566L13.4985 24.7488L12.5464 23.5409L12.7764 23.0346C13.2608 21.9681 13.0065 20.8254 12.0778 19.8967C10.812 18.6309 9.20626 18.6309 7.94048 19.8967C6.67483 21.1624 6.67483 22.7656 7.94048 24.0366C8.68616 24.7855 9.40682 25.0439 10.4181 24.9251L11.0726 24.8481L12.1986 26.274C12.8179 27.0584 13.454 27.761 13.612 27.8355C13.7946 27.9214 15.0552 27.9708 17.0669 27.9708H20.2343L20.1123 28.6277C19.9599 29.4482 20.0678 31.4379 20.3141 32.3517C21.0135 34.9456 22.4453 36.9506 24.6054 38.3607C26.309 39.4728 27.8481 39.9137 30.0274 39.9137C32.2066 39.9137 33.7457 39.4728 35.4493 38.3607C37.6094 36.9506 39.0412 34.9456 39.7406 32.3517C39.9869 31.4379 40.0948 29.4482 39.9424 28.6277L39.8204 27.9708H43.1312H46.4421L46.7756 27.6136C46.9592 27.4172 47.5287 26.7143 48.0411 26.0517L48.973 24.8471L49.632 24.9246C50.6483 25.0439 51.3673 24.7868 52.1142 24.0366C53.3799 22.7656 53.3799 21.1624 52.1142 19.8967C50.8484 18.6309 49.2427 18.6309 47.977 19.8967C47.0482 20.8254 46.7939 21.9681 47.2783 23.0346L47.5083 23.5409L46.5562 24.7488L45.604 25.9566L42.4136 25.9599L39.2232 25.9632L38.7234 25.0747C38.4484 24.586 37.9558 23.8802 37.6287 23.5064L37.0337 22.8266L37.04 19.1118L37.0461 15.3969L38.254 14.4448L39.4618 13.4926L39.9682 13.7226C41.0346 14.207 42.1773 13.9527 43.106 13.024C43.9902 12.1398 44.2345 11.2046 43.888 10.0315C43.6849 9.34423 42.6485 8.30779 41.9612 8.10473C40.7889 7.75841 39.8541 8.00238 38.9661 8.88669C38.2172 9.63237 37.9588 10.353 38.0777 11.3643L38.1546 12.0188L36.7287 13.1448C35.9444 13.7641 35.2417 14.4002 35.1673 14.5582C35.0811 14.7414 35.0319 16.0248 35.0319 18.0956V21.3455L34.7504 21.1611C34.2831 20.8551 32.769 20.324 31.9041 20.1628L31.0908 20.0114L31.0582 14.8735L31.0255 9.73571L31.4065 9.57782C32.2579 9.22525 33.0301 7.96498 33.0301 6.92816C33.0301 5.90235 32.2965 4.72352 31.3556 4.23695C30.8241 3.96208 29.5743 3.90365 28.9774 4.12573ZM30.7211 6.25792C31.3418 6.87849 30.902 7.95259 30.0274 7.95259C29.7836 7.95259 29.5271 7.83911 29.3336 7.64543C29.1399 7.45188 29.0264 7.1954 29.0264 6.95168C29.0264 6.07701 30.1005 5.63723 30.7211 6.25792ZM19.7111 10.2616C20.3318 10.8821 19.892 11.9562 19.0173 11.9562C18.7736 11.9562 18.5171 11.8428 18.3236 11.6491C18.1299 11.4555 18.0164 11.199 18.0164 10.9553C18.0164 10.7116 18.1299 10.4551 18.3236 10.2616C18.5171 10.0679 18.7736 9.95441 19.0173 9.95441C19.261 9.95441 19.5175 10.0679 19.7111 10.2616ZM41.7311 10.2616C42.3518 10.8821 41.9121 11.9562 41.0374 11.9562C40.523 11.9562 40.0365 11.4697 40.0365 10.9553C40.0365 10.441 40.523 9.95441 41.0374 9.95441C41.2811 9.95441 41.5376 10.0679 41.7311 10.2616ZM10.7029 21.2716C10.8966 21.4651 11.01 21.7216 11.01 21.9654C11.01 22.2091 10.8966 22.4656 10.7029 22.6591C10.5093 22.8528 10.2528 22.9663 10.0091 22.9663C9.7654 22.9663 9.50891 22.8528 9.31536 22.6591C9.12169 22.4656 9.00821 22.2091 9.00821 21.9654C9.00821 21.7216 9.12169 21.4651 9.31536 21.2716C9.50891 21.0779 9.7654 20.9644 10.0091 20.9644C10.2528 20.9644 10.5093 21.0779 10.7029 21.2716ZM50.7394 21.2716C51.36 21.8922 50.9203 22.9663 50.0456 22.9663C49.5312 22.9663 49.0447 22.4797 49.0447 21.9654C49.0447 21.451 49.5312 20.9644 50.0456 20.9644C50.2893 20.9644 50.5458 21.0779 50.7394 21.2716ZM31.7164 22.1519C33.1286 22.4458 34.5602 23.2406 35.6747 24.3494C38.8165 27.4752 38.8089 32.4514 35.6575 35.6028C32.5061 38.7541 27.53 38.7618 24.4041 35.62C21.2367 32.4364 21.2303 27.4943 24.3896 24.3349C26.3394 22.3852 29.0116 21.589 31.7164 22.1519ZM16.1845 32.1934C16.2184 32.3138 16.2825 32.6094 16.3267 32.8503C16.6624 34.6737 17.8406 37.1263 19.1786 38.7868C21.0619 41.1243 23.6337 42.7515 26.7352 43.5685C27.7834 43.8447 28.2466 43.8941 29.9022 43.9062C31.0853 43.915 32.1341 43.8569 32.5922 43.7573C38.5604 42.4593 42.4962 38.4581 43.8442 32.3185L43.9198 31.9745H50.9863H58.0529V33.4758V34.9772H56.0024C54.2323 34.9772 53.9161 35.0071 53.6909 35.1962C53.5253 35.3352 53.2723 35.9403 52.9978 36.8539C52.4897 38.5453 51.8913 39.9826 51.038 41.5612C50.6986 42.189 50.4209 42.8312 50.4209 42.9884C50.4209 43.1852 50.8771 43.7359 51.8875 44.759L53.3541 46.2438L49.824 49.7739L46.2939 53.304L44.8855 51.9051C44.1109 51.1356 43.3351 50.4717 43.1616 50.4298C42.9235 50.3721 42.4322 50.5664 41.1597 51.2214C39.4723 52.0899 38.149 52.6238 36.4304 53.1294C35.0298 53.5414 35.0319 53.537 35.0319 55.9574V57.9982H30.0274H25.0228V55.9477C25.0228 54.1805 24.9925 53.86 24.8038 53.6288C24.6601 53.4528 24.1374 53.2312 23.282 52.9839C21.6385 52.5087 20.1805 51.9098 18.5608 51.0445C17.8625 50.6715 17.1639 50.3662 17.0085 50.3662C16.8157 50.3662 16.2544 50.8319 15.241 51.8328L13.7562 53.2994L10.2261 49.7693L6.69597 46.2392L8.09487 44.8308C8.86445 44.0562 9.5283 43.2804 9.57022 43.1069C9.6279 42.8688 9.43359 42.3774 8.77862 41.105C7.9042 39.4061 7.36108 38.055 6.88114 36.3846C6.4784 34.9835 6.46589 34.9772 4.04256 34.9772H2.00182V33.4758V31.9745H9.06238C15.6798 31.9745 16.1267 31.9882 16.1845 32.1934Z' fill='url(#paint0_linear_263_7463)')
                defs
                  lineargradient#paint0_linear_263_7463(x1='60.1902' y1='29.1429' x2='0.135471' y2='29.1429' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#00BFFF')
                    stop(offset='1' stop-color='#00E68A')
                  clippath#clip0_263_7463
                    rect(width='60' height='60' fill='white')
            .apply__text Цифровизация производства
        li.apply__item
          .apply__body 
            .apply__icon 
              svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0_263_7472)')
                  path(d='M22.5 46.875H37.5' stroke='url(#paint0_linear_263_7472)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M24.375 54.375H35.625' stroke='url(#paint1_linear_263_7472)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round')
                  path(d='M18.7484 39.3757C15.6005 37.0143 13.2754 33.7224 12.1024 29.9662C10.9294 26.2099 10.9679 22.1799 12.2125 18.4467C13.4571 14.7136 15.8447 11.4667 19.0371 9.16588C22.2295 6.86505 26.0649 5.62696 30 5.62695C33.9351 5.62695 37.7705 6.86503 40.9629 9.16585C44.1553 11.4667 46.5429 14.7136 47.7875 18.4467C49.0321 22.1798 49.0706 26.2099 47.8976 29.9661C46.7246 33.7223 44.3995 37.0143 41.2517 39.3757' stroke='url(#paint2_linear_263_7472)' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' fill='none')
                defs
                  lineargradient#paint0_linear_263_7472(x1='37.5338' y1='47.3607' x2='22.5338' y2='47.3607' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#00BFFF')
                    stop(offset='1' stop-color='#00E68A')
                  lineargradient#paint1_linear_263_7472(x1='35.6504' y1='54.8607' x2='24.4004' y2='54.8607' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#00BFFF')
                    stop(offset='1' stop-color='#00E68A')
                  lineargradient#paint2_linear_263_7472(x1='48.8346' y1='22.0192' x2='11.3346' y2='22.0192' gradientUnits='userSpaceOnUse')
                    stop(stop-color='#00BFFF')
                    stop(offset='1' stop-color='#00E68A')
                  clippath#clip0_263_7472
                    rect(width='60' height='60' fill='white')
            .apply__text Энергетика